{% from "../macros/validationErrorMessage.njk" import validationErrorMessage %}

{% macro address(currentQuestionAndAnswer, existingAnswer, multipleQuestionsOnPage, validationErrors) %}
  {% set validationError = validationErrors | getValidationError(currentQuestionAndAnswer.question.id) %}

  <div class="govuk-form-group {{ 'govuk-form-group--error' if validationError }}">

   <fieldset id="{{ currentQuestionAndAnswer.question.id }}" class="govuk-fieldset">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ currentQuestionAndAnswer.question.title }}</legend>
      <div id="{{ currentQuestionAndAnswer.question.id }}-hint" class="govuk-hint"> {{ currentQuestionAndAnswer.question.subTitle }}</div>
      {% if validationError %}
        {{ validationErrorMessage(validationError) }}
      {% endif %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ currentQuestionAndAnswer.question.id }}-address-line-1">Address line 1 (optional)</label>
        <input class="govuk-input govuk-!-width-two-thirds" id="{{ currentQuestionAndAnswer.question.id }}-address-line-1"
               name="{{ currentQuestionAndAnswer.question.id }}-addressLine1" type="text" autocomplete="address-line1"
               value="{{ existingAnswer | getAnswerValueFromArrayOfMaps('addressLine1') }}"> {# FIXME #}
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ currentQuestionAndAnswer.question.id }}-address-line-2">Address line 2 (optional)</label>
        <input class="govuk-input govuk-!-width-two-thirds" id="{{ currentQuestionAndAnswer.question.id }}-address-line-2"
               name="{{ currentQuestionAndAnswer.question.id }}-addressLine2" type="text" autocomplete="address-line2"
               value="{{ existingAnswer | getAnswerValueFromArrayOfMaps('addressLine2') }}">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ currentQuestionAndAnswer.question.id }}-address-town">Town or city (optional)</label>
        <input class="govuk-input govuk-!-width-one-half" id="{{ currentQuestionAndAnswer.question.id }}-address-town"
               name="{{ currentQuestionAndAnswer.question.id }}-addressTown" type="text" autocomplete="address-level2"
               value="{{ existingAnswer | getAnswerValueFromArrayOfMaps('addressTown') }}">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ currentQuestionAndAnswer.question.id }}-address-county">County (optional)</label>
        <input class="govuk-input govuk-!-width-one-half" id="{{ currentQuestionAndAnswer.question.id }}-address-county"
               name="{{ currentQuestionAndAnswer.question.id }}-addressCounty" type="text"
               value="{{ existingAnswer | getAnswerValueFromArrayOfMaps('addressCounty') }}">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ currentQuestionAndAnswer.question.id }}-address-postcode">Postcode (optional)</label>
        <input class="govuk-input govuk-input--width-10" id="{{ currentQuestionAndAnswer.question.id }}-address-postcode"
               name="{{ currentQuestionAndAnswer.question.id }}-addressPostcode" type="text" autocomplete="postal-code"
               value="{{ existingAnswer | getAnswerValueFromArrayOfMaps('addressPostcode') }}">
      </div>
    </fieldset>
  </div>
{% endmacro %}