{% macro assessmentInformation(assessmentData, prisonerNumber, pathway) %}
  <section id="assessment-information" class="app-summary-card govuk-!-margin-bottom-8">
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">Report information</h3>
      <span class="right"></span>
    </header>
    <div class="app-summary-card__body">
    {% if assessmentData.error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">There is a problem</h2>
          <div class="govuk-error-summary__body">{{ assessmentData.error }}</div>
        </div>
      </div>
    {% else %}
      {% if assessmentData.message %}
        <p>{{ assessmentData.message }}</p>
      {% else %}
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            {% for questionAnswer in assessmentData.latestAssessment.questionsAndAnswers %}
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">{{ questionAnswer.questionTitle }}</th>
                <td class="govuk-table__cell show-line-breaks">{{ questionAnswer.answer }}</td>
                <td class="govuk-table__cell">
                  <a href="/ImmediateNeedsReport/pathway/{{ pathway | getEnumByName }}/page/{{ questionAnswer.originalPageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&submitted=true&type={{ assessmentData.latestAssessment.assessmentType }}">Change</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="app-summary-card__hint">{% if assessmentData.originalAssessment %}Last updated:{% else %}Submitted:{% endif %} {{ assessmentData.latestAssessment.lastUpdated | formatDate('long') }} by {{ assessmentData.latestAssessment.updatedBy }}</p>
        {% if assessmentData.originalAssessment %}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                View original version
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-!-margin-bottom-3">Original report information</h3>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                {% for questionAnswer in assessmentData.originalAssessment.questionsAndAnswers %}
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">{{ questionAnswer.questionTitle }}</th>
                    <td class="govuk-table__cell show-line-breaks">{{ questionAnswer.answer  }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <p class="app-summary-card__hint">Submitted: {{ assessmentData.originalAssessment.lastUpdated | formatDate('long') }} by {{ assessmentData.originalAssessment.updatedBy }}</p>
            </div>
          </details>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  </section>
{% endmacro %}