{% from "../macros/validationErrorMessage.njk" import validationErrorMessage %}

{% macro checkbox(currentQuestionAndAnswer, existingAnswer, multipleQuestionsOnPage, validationErrors) %}
  {% set validationError = validationErrors | getValidationError(currentQuestionAndAnswer.question.id) %}
  <div class="govuk-form-group {{ 'govuk-form-group--error' if validationError }}">
    <span id="{{ currentQuestionAndAnswer.question.id }}"></span>
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      {% if multipleQuestionsOnPage %}
        <label class="govuk-label govuk-label--m govuk-!-padding-top-6 govuk-!-margin-bottom-5" for="{{ currentQuestionAndAnswer.question.id }}">
          {{ currentQuestionAndAnswer.question.title }}
        </label>
      {% endif %}
      <div id="waste-hint" class="govuk-hint">{{ currentQuestionAndAnswer.question.subTitle }}</div>
      {% if validationError %}
        {{ validationErrorMessage(validationError) }}
      {% endif %}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% set existingFreeTextAnswer = '' %}
        {% for answer in existingAnswer.answer %}
          {% if answer | startsWith("OTHER_SUPPORT_NEEDS: ") %}
              {% set existingFreeTextAnswer = answer | removePrefix("OTHER_SUPPORT_NEEDS: ") %}
          {% endif %}
        {% endfor %}
        {% for option in currentQuestionAndAnswer.question.options %}
          {% if option.exclusive %}
            <div class="govuk-checkboxes__divider">or</div>
          {% endif %}
          <div class="govuk-checkboxes__item">
            {% set preSelected = false %}
            {% if existingAnswer and option.id in existingAnswer.answer %}
              {% set preSelected = true %}
            {% endif %}
            {% if existingAnswer and option.freeText == true and existingFreeTextAnswer %}
              {% set preSelected = true %}
            {% endif %}
              {%  set customId=[currentQuestionAndAnswer.question.id, '-', option.id ] | join %}
            <input
              class="govuk-checkboxes__input"
              id="{{ customId }}"
              name="{{ currentQuestionAndAnswer.question.id }}"
              value="{{ option.id }}"
              type="checkbox"
              {% if preSelected %}checked{% endif %}
              {% if option.exclusive %}data-behaviour="exclusive"{% endif %}
              {% if option.freeText %}data-aria-controls="conditional-other-free-text"{% endif %}
            >
            <label class="govuk-label govuk-checkboxes__label" for="{{ option.id }}">
              {{ option.displayText }}
            </label>
          </div>
          {% if option.freeText %}
          {% set optionValidationError = validationErrors | getOptionValidationError(currentQuestionAndAnswer.question.id, option.id) %}
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-free-text">
              <div class="govuk-form-group {{ 'govuk-form-group--error' if optionValidationError }}">
                {% if optionValidationError %}
                  {{ validationErrorMessage(optionValidationError) }}
                {% endif %}
                <textarea class="govuk-textarea" name="freeText" rows="4">{{ existingFreeTextAnswer }}</textarea>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}