{% from "../macros/validationErrorMessage.njk" import validationErrorMessage %}

{% macro checkbox(currentQuestionAndAnswer, existingAnswer, multipleQuestionsOnPage, validationErrors) %}
  {% set validationError = validationErrors | getValidationError(currentQuestionAndAnswer.question.id) %}
  <div class="govuk-form-group {{ 'govuk-form-group--error' if validationError }}">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      {% if multipleQuestionsOnPage %}
        <label class="govuk-label govuk-label--m govuk-!-padding-top-6 govuk-!-margin-bottom-5" for="{{ currentQuestionAndAnswer.question.id }}">{{ currentQuestionAndAnswer.question.title }}</label>
      {% endif %}
      <div id="waste-hint" class="govuk-hint">{{ currentQuestionAndAnswer.question.subTitle }}</div>
    {% if validationError %}
      {{ validationErrorMessage(validationError) }}
    {% endif %}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% for option in currentQuestionAndAnswer.question.options %}
          {% if option.exclusive%}
            <div class="govuk-checkboxes__divider">or</div>
          {% endif %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ option.id }}" name="{{ currentQuestionAndAnswer.question.id }}" value="{{ option.id }}" type="checkbox" {% if existingAnswer and option.id in existingAnswer.answer %}checked{% endif %} {% if option.exclusive %} data-behaviour="exclusive" {% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="{{ option.id }}">
              {{ option.displayText }}
            </label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}