{% macro checkAnswers(allQuestionsAndAnswers, pathway, prisonerNumber, assessmentType, submitted) %}
  {% set enumValue = pathway | getEnumValue %}

  {% set containsAssessmentSummary = false %}
    {% for questionAndAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
    {% if questionAndAnswer.question === 'SUPPORT_NEEDS' or questionAndAnswer.question === 'SUPPORT_NEEDS_PRERELEASE' %}
      {% set containsAssessmentSummary = true %}
    {% endif %}
  {% endfor %}

  <h2 class="govuk-heading-m">{{ enumValue.name }} report</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {% for questionAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
      {% if questionAnswer.question not in ['SUPPORT_NEEDS', 'SUPPORT_NEEDS_PRERELEASE', 'CASE_NOTE_SUMMARY'] and 'SUPPORT_NEEDS_CHECKBOXES' not in questionAnswer.question %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
          <dd class="govuk-summary-list__value">
            {% if questionAnswer.questionType === 'ADDRESS' %}
              {% for item in questionAnswer.answer.answer %}
                {% for key, value in item %}
                  {% if value %}
                    {{ value }}<br />
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% elif questionAnswer.questionType === 'CHECKBOX' %}
              {% set freeTextAnswer = "" %}
              {% for answer in questionAnswer.answer.answer %}
                {% if answer | startsWith("OTHER_SUPPORT_NEEDS: ") %}
                  {% set freeTextAnswer = answer | removePrefix("OTHER_SUPPORT_NEEDS: ") %}
                {% endif %}
              {% endfor %}

              {% for item in questionAnswer.answer.displayText %}
                {{ item }}<br />
              {% endfor %}
              {{ freeTextAnswer }}
            {% else %}
              {{ questionAnswer.answer.displayText }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}">Change</a>
          </dd>
        </div>
      {% endif %}
    {% endfor %}
  </dl>

  {% if containsAssessmentSummary %}
    <h2 class="govuk-heading-m">{{ enumValue.name }} summary</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% for questionAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
        {% if 'SUPPORT_NEEDS_CHECKBOXES' in questionAnswer.question %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
            <dd class="govuk-summary-list__value">
              {% for item in questionAnswer.answer.displayText %}
                {{ item }}<br />
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}">Change</a>
            </dd>
          </div>
        {% endif %}
        {% if questionAnswer.question === 'SUPPORT_NEEDS' or questionAnswer.question === 'SUPPORT_NEEDS_PRERELEASE' %}
          {% set statusValue = questionAnswer.answer.answer | getAssessmentEnumValue %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--{{ statusValue.color }}">
                {{ statusValue.name }}
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}">Change</a>
            </dd>
          </div>
        {% endif %}
        {% if questionAnswer.question === 'CASE_NOTE_SUMMARY' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
            <dd class="govuk-summary-list__value show-line-breaks">{{ questionAnswer.answer.displayText }}</dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}">Change</a>
            </dd>
          </div>
        {% endif %}
      {% endfor %}
    </dl>
  {% endif %}
{% endmacro %}