{% macro checkAnswers(allQuestionsAndAnswers, pathway, prisonerNumber) %}
  {% set enumValue = pathway | getEnumValue %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Check your answers before submitting the {{ enumValue.name }} assessment</h1>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">{{ enumValue.name }} assessment</h2>
    {% for questionAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
      {% if questionAnswer.question !== 'SUPPORT_NEEDS' and questionAnswer.question !== 'CASE_NOTE_SUMMARY' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
          <dd class="govuk-summary-list__value">
            {% if questionAnswer.questionType === 'ADDRESS' %}
              {% for item in questionAnswer.answer.answer %}
                {% for key, value in item %}
                  {% if value %}
                    {{ value }}<br />
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% else %}
              {{ questionAnswer.answer.displayText }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/BCST2/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}?prisonerNumber={{ prisonerNumber }}&edit=true">Change</a>
          </dd>
        </div>
      {% endif %}
    {% endfor %}
  </dl>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">{{ enumValue.name }} summary</h2>
    {% for questionAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
      {% set statusValue = questionAnswer.answer.answer | getAssessmentEnumValue %}
      {% if questionAnswer.question === 'SUPPORT_NEEDS' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ enumValue.name }} support status</dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--{{ statusValue.color }}">
              {{ statusValue.name }}
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/BCST2/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}?prisonerNumber={{ prisonerNumber }}&edit=true">Change</a>
          </dd>
        </div>
      {% endif %}
      {% if questionAnswer.question === 'CASE_NOTE_SUMMARY' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Support needs summary</dt>
          <dd class="govuk-summary-list__value">{{ questionAnswer.answer.displayText }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/BCST2/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}?prisonerNumber={{ prisonerNumber }}&edit=true">Change</a>
          </dd>
        </div>
      {% endif %}
    {% endfor %}
  </dl>
{% endmacro %}