{% macro dropDown(questionAndAnswer, existingAnswer, isFirstQuestionOnPage) %}
  {% if not isFirstQuestionOnPage %}
    <b>{{ currentQuestionAndAnswer.question.title }}</b>
  {% endif %}
  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ questionAndAnswer.question.id }}">{{ questionAndAnswer.question.title }}</label>
    <select class="govuk-select" id="{{ questionAndAnswer.question.id }}" name="{{ questionAndAnswer.question.id }}">
      <option value=""></option>
      {% for option in questionAndAnswer.question.options %}
      <option value="{{ option.id }}" {% if existingAnswer.answer == option.id %}selected{% endif %}>{{ option.displayText }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}