{% macro incompleteImmediateNeedsReport(pathwayName, prisonerData) %}
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">{{ prisonerData.personalDetails.firstName | capitalize }} {{ prisonerData.personalDetails.lastName | capitalize }} does not have a completed immediate needs report.<br /><br />
        <a class="govuk-notification-banner__link" href="/assessment-task-list/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Complete report now</a>
      </p>
    </div>
  </div>
</div>
{% endmacro %}
