{% macro listOfPeople(currentQuestionAndAnswer, existingAnswer, isFirstQuestionOnPage) %}
  {% if not isFirstQuestionOnPage %}
    <b>{{ currentQuestionAndAnswer.question.title }}</b>
  {% endif %}
  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">Resident 1 name</label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="resident-1-name" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="width-2">Resident 1 age</label>
      <input class="govuk-input govuk-input--width-2" id="width-2" name="resident-1-age" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">Resident 1 relationship</label>
      <select class="govuk-select" id="sort" name="resident-1-relationship">
        <option value="" selected="">Choose an option</option>
        <option value="Family member">Family member</option>
        <option value="Friend">Friend</option>
      </select>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="more-detail">Additional information</label>
      <textarea class="govuk-textarea" id="more-detail" name="3-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another resident
    </button>
    <input type="hidden" id="accommodation-3" name="accommodation-3" value="done">
  </div>
{% endmacro %}