{% from "../macros/validationErrorMessage.njk" import validationErrorMessage %}

{% macro longText(currentQuestionAndAnswer, existingAnswer, multipleQuestionsOnPage, validationErrors) %}
  {% set validationError = validationErrors | getValidationError(currentQuestionAndAnswer.question.id) %}

  <div class="govuk-form-group {{ 'govuk-form-group--error' if validationError }} govuk-!-padding-top-3">
    <span id="{{ currentQuestionAndAnswer.question.id }}"></span>
    {% if multipleQuestionsOnPage %}
      <label class="govuk-label govuk-label--m" for="{{ currentQuestionAndAnswer.question.id }}">{{ currentQuestionAndAnswer.question.title }}{{ getOptionalText(currentQuestionAndAnswer) }}</label>
    {% endif %}
    <div class="govuk-hint show-line-breaks" id="{{ currentQuestionAndAnswer.question.id }}-hint">{{ currentQuestionAndAnswer.question.subTitle }}</div>
    
    {% if currentQuestionAndAnswer.question.detailsTitle and currentQuestionAndAnswer.question.detailsContent %}
      <details class="govuk-details govuk-!-padding-top-3" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">{{ currentQuestionAndAnswer.question.detailsTitle }}</span>
        </summary>
        <div class="govuk-details__text">{{ currentQuestionAndAnswer.question.detailsContent }}</div>
      </details>
    {% endif %}
    
    {% if validationError %}
      {{ validationErrorMessage(validationError) }}
    {% endif %}
    <textarea class="govuk-textarea" id="{{ currentQuestionAndAnswer.question.id }}" name="{{ currentQuestionAndAnswer.question.id }}" rows="5" aria-describedby="more-detail-hint">{{ existingAnswer.answer if existingAnswer }}</textarea>
  </div>
{% endmacro %}