{% macro pagination(page, size, totalPages, isLast, currentUrl) %}
  {% set nextPage = page | float + 1 | float%}
  {% set prevPage = page | float - 1 | float%}

  <nav class="moj-pagination" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">
    {% if page > 0 %}
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="{{currentUrl}}&page={{prevPage}}&size={{size}}&sort=occurenceDateTime%2CDESC&days=21">Previous<span class="govuk-visually-hidden"> page</span></a>
    </li>
    {% endif %}
 {% for i in range(0, totalPages) -%}
  {% if page | float === i | float %}
    <li class="moj-pagination__item moj-pagination__item--active" aria-current="page" aria-label="Page {{ i + 1 }} of {{ totalPages }}">{{ i + 1 }}</li>
  {% else %}
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="{{currentUrl}}&page={{i}}&size={{size}}&sort=occurenceDateTime%2CDESC&days=21" aria-label="Page {{ i + 1 }} of {{ totalPages }}">{{ i + 1 }}</a></li>
  {% endif %}
{%- endfor %}
{% if isLast === false %}
    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="{{currentUrl}}&page={{nextPage}}&size={{size}}&sort=occurenceDateTime%2CDESC&days=21">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
    {% endif %}
  </ul>
  <p class="moj-pagination__results">Showing page <b>{{page | float + 1 | float}}</b> of <b>{{totalPages}}</b> pages</p>
</nav>
{% endmacro %}