{% macro prisonersTable(prisoners, pathwayView, resettlementAssessmentEnabled) %}
  <tbody class="govuk-table__body">
  {% for prisoner in prisoners %}
    {{ prisonerRow(
      prisoner.firstName,
      prisoner.lastName,
      prisoner.prisonerNumber,
      prisoner.releaseDate,
      prisoner.releaseType,
      prisoner.status,
      prisoner.pathwayStatus,
      prisoner.paroleEligibilityDate,
      prisoner.homeDetentionCurfewEligibilityDate,
      prisoner.releaseEligibilityDate,
      prisoner.releaseEligibilityType,
      prisoner.releaseOnTemporaryLicenceDate,
      pathwayView,
      prisoner.lastUpdatedDate,
      prisoner.assessmentRequired,
      resettlementAssessmentEnabled
    )}}
  {% endfor %}
  </tbody>
{% endmacro %}
{% macro prisonerRow(firstName, lastName, prisonerNumber, releaseDate, releaseType, statuses, pathwayStatus, paroleEligibilityDate, homeDetentionCurfewEligibilityDate, releaseEligibilityDate, releaseEligibilityType, releaseOnTemporaryLicenceDate, pathwayView, lastUpdatedDate, assessmentRequired, resettlementAssessmentEnabled) %}
  {% set lastUpdatedDates = [] %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a href="/prisoner-overview/?prisonerNumber={{ prisonerNumber }}">{{ lastName | toTitleCase }}, {{ firstName | toTitleCase }}</a>
      <br/>
      <span class="govuk-hint" id="prisonerNumber">
        {{ prisonerNumber }}
      </span>
    </td>
    <td class="govuk-table__cell" id="releaseDate">
      <span class="no-wrap">{{ releaseDate | formatDate }}</span> <br/>
      {% if releaseDate | isFriday %}<span class="govuk-body-s" id="fridayRelease">⚠️ Friday</span> <br/>{% endif %}
      <span class="govuk-body-s" id="releaseType">
        {{ releaseType }}
      </span>
    </td>
    <td class="govuk-table__cell" id="releaseEligibilityDate">
      {{ releaseEligibilityDate | formatDate }} <br/>
      {% if releaseEligibilityDate | isFriday %}<span class="govuk-body-s" id="fridayRelease">⚠️ Friday</span> <br/>{% endif %}
      <span class="govuk-body-s" id="releaseEligibilityType">
        {{ releaseEligibilityType }}
      </span>
    </td>
    <td class="govuk-table__cell" id="releaseOnTemporaryLicenceDate">
      {% if releaseOnTemporaryLicenceDate|length %}
        {{ releaseOnTemporaryLicenceDate | formatDate }} <br/>
        {% if releaseOnTemporaryLicenceDate | isFriday %}<span class="govuk-body-s" id="fridayRelease">⚠️ Friday</span> <br/>{% endif %}
        <span class="govuk-body-s" id="releaseOnTemporaryLicenceType">
        {{ releaseOnTemporaryLicenceType }}
      </span>
      {% endif %}
    </td>
    {% if statuses and (not assessmentRequired or not resettlementAssessmentEnabled) %}
      {% set notStarted = 0 %}
      {% set supportRequired = 0 %}
      {% set inProgress = 0 %}
      {% set done = 0 %}
      {% for status in statuses %}
        {% if status.status === 'NOT_STARTED' %}
          {% set notStarted = notStarted + 1 %}
        {% endif %}
        {% if status.status === 'SUPPORT_REQUIRED' %}
          {% set supportRequired = supportRequired + 1 %}
        {% endif %}
        {% if status.status === 'IN_PROGRESS' %}
          {% set inProgress = inProgress + 1 %}
        {% endif %}
        {% if status.status === 'DONE'  or status.status === 'SUPPORT_NOT_REQUIRED' or status.status === 'SUPPORT_DECLINED' %}
          {% set done = done + 1 %}
        {% endif %}
      {% endfor %}
      <td class="govuk-table__cell">
        {% if not resettlementAssessmentEnabled %}
          <strong class="govuk-tag govuk-tag--red">
            <b>{{ notStarted }}</b>
            not started
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--orange">
            <b>{{ supportRequired }}</b>
            support required
          </strong>
        {% endif %}
        &nbsp;
        <strong class="govuk-tag govuk-tag--blue">
          <b>{{ inProgress }}</b>
          in progress
        </strong>
        &nbsp;
        <strong class="govuk-tag govuk-tag--green">
          <b>{{ done }}</b>
          done
        </strong>
        <br/>
        <details class="govuk-details govuk-body-s" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Show resettlement statuses</span>
          </summary>
          <div class="govuk-details__text">
            <table>
              <tbody>
              {% for pathway in (statuses | sort(attribute = 'pathway')) %}
                <tr>
                  <td>
                    {% set enumValue = pathway.pathway | getEnumValue %}
                    {% set statusValue = pathway.status | getEnumValue(resettlementAssessmentEnabled) %}
                    {% set lastUpdatedDates = (lastUpdatedDates.push(pathway.lastDateChange), lastUpdatedDates) %} {# ADD lastDateChange DATES TO ARRAY #}
                    <a href="/{{ enumValue.url }}/?prisonerNumber={{ prisonerNumber }}">{{ enumValue.name }}</a>:
                  </td>
                  <td>
                    <strong class="govuk-tag govuk-tag--{{ statusValue.color }}">{{ statusValue.name }}</strong>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </details>
      </td>
    {% else %}
      {% if not pathwayView %}
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--red">
            Assessment required
          </strong>
        </td>
      {% endif %}
    {% endif %}
    {% if pathwayStatus %}
      <td class="govuk-table__cell">
        {% set statusValues = pathwayStatus | getEnumValue(resettlementAssessmentEnabled) %}
        <strong class="govuk-tag govuk-tag--{{ statusValues.color }}">
          <b>{{ statusValues.name }}</b>
        </strong>
      </td>
    {% endif %}
    <td class="govuk-table__cell">
      <span id="lastUpdated">
        {% if statuses %}
          <a href="/prisoner-overview/?prisonerNumber={{ prisonerNumber }}#status">
            {{ lastUpdatedDates | getMostRecentDate | formatDate('short') }}
          </a>
        {% endif %}
        {% if pathwayStatus %}
          {% set pathwayValues = pathwayView | getEnumValue %}
          <a href="/{{ pathwayValues.url }}/?prisonerNumber={{ prisonerNumber }}">
            {{ lastUpdatedDate | formatDate('short') }}
          </a>
        {% endif %}
      </span>
    </td>
  </tr>
{% endmacro %}