{% macro prisonersTable(prisoners) %}
  <table class="govuk-table" id="myTable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Release</th>
        <th scope="col" class="govuk-table__header">Resettlement statuses</th>
        <th scope="col" class="govuk-table__header">Last updated</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for prisoner in prisoners %}
        {{ prisonerRow(prisoner.firstName, prisoner.lastName, prisoner.prisonerNumber, prisoner.releaseDate, prisoner.releaseType, prisoner.status, prisoner.lastUpdatedDate) }}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
{% macro prisonerRow(firstName, lastName, prisonerNumber, releaseDate, releaseType, statuses, lastUpdatedDate) %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a href="/prisoner-overview/?prisonerId={{ prisonerNumber }}">{{ lastName }}, {{ firstName }}</a>
      <br/>
      <span class="govuk-body-s">
        {{ prisonerNumber }}
      </span>
    </td>
    <td class="govuk-table__cell">
      {{ releaseDate }} <br/>
      <span class="govuk-body-s">
        {{ releaseType }}
      </span>
    </td>
    {% set notStarted = 0 %}
    {% set inProgress = 0 %}
    {% set done = 0 %}
    {% for status in statuses %}
      {% if status.status === 'NOT_STARTED' or status.status === 'SUPPORT_NOT_REQUIRED' or status.status === 'SUPPORT_DECLINED' %}
        {% set notStarted = notStarted + 1 %}
      {% endif %}
      {% if status.status === 'IN_PROGRESS' %}
        {% set inProgress = inProgress + 1 %}
      {% endif %}
      {% if status.status === 'DONE' %}
        {% set done = done + 1 %}
      {% endif %}
    {% endfor %}
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--red">
        <b>{{ notStarted }}</b>
        not started
      </strong>
      &nbsp;
      <strong class="govuk-tag govuk-tag--blue">
        <b>{{ inProgress }}</b>
        in progress
      </strong>
      &nbsp;
      <strong class="govuk-tag govuk-tag--green">
        <b>{{ done }}</b>
        done
      </strong>
      <br/>
      <details class="govuk-details govuk-body-s" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Show resettlement statuses</span>
        </summary>
        <div class="govuk-details__text">
          <table>
            <tbody>
              {% for pathway in statuses %}
                <tr>
                  <td>
                    {% set enumValue = pathway.pathway | getEnumValue %}
                    {% set statusValue = pathway.status | getEnumValue %}
                    <a href="/{{ enumValue.url }}/?prisonerId={{ prisonerNumber }}">{{ enumValue.name }}</a>:
                  </td>
                  <td>
                    <strong class="govuk-tag govuk-tag--{{ statusValue.color }}">{{ statusValue.name }}</strong>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </details>
    </td>
    <td class="govuk-table__cell">
      {{ lastUpdatedDate }}
    </td>
  </tr>
{% endmacro %}