{% macro radio(currentQuestionAndAnswer, allQuestionsAndAnswers) %}

  {# find existing answer to current question #}
  {% set existingAnswer = null %}
  {% for qa in allQuestionsAndAnswers.questionsAndAnswers %}
    {% if qa.question === currentQuestionAndAnswer.question.id %}
      {% set existingAnswer = qa.answer.answer %}
    {% endif %}
  {% endfor %}

  <b>{{ currentQuestionAndAnswer.question.title }}</b>
  <div class="govuk-radios" data-module="govuk-radios">
    {% for option in currentQuestionAndAnswer.question.options %}
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="{{ option.id }}"
          name="{{ currentQuestionAndAnswer.question.id }}"
          type="radio"
          value="{{ option.id }}"
          {% if existingAnswer == option.id %}
            checked
          {% endif %}
        />
        <label class="govuk-label govuk-radios__label" for="{{ option.id }}">{{ option.displayText }}</label>
        <div class="govuk-hint govuk-radios__hint">{{ option.description }}</div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}