{% macro radioWithAddress(currentQuestionAndAnswer, existingAnswer, isFirstQuestionOnPage, addressQuestionAndAnswer, nextQuestionExistingAnswer) %}
  {% if not isFirstQuestionOnPage %}
    <b>{{ currentQuestionAndAnswer.question.title }}</b>
  {% endif %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">
        {% for option in currentQuestionAndAnswer.question.options %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="{{ option.id }}"
              name="{{ currentQuestionAndAnswer.question.id }}"
              type="radio"
              value="{{ option.id }}"
              data-aria-controls="conditional-{{ option.id }}"
              {% if existingAnswer.answer == option.id %}
                checked
              {% endif %}
            />
            <label class="govuk-label govuk-radios__label" for="{{ option.id }}">{{ option.displayText }}</label>
            <div class="govuk-hint govuk-radios__hint">{{ option.description }}</div>
          </div>
          {% if option.withAddress %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ option.id }}">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-fieldset__heading">{{ addressQuestionAndAnswer.question.title }}</h2>
                  </legend>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1-{{ option.id }}">Address line 1</label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1-{{ option.id }}" name="addressLine1_{{ option.id }}" type="text" autocomplete="address-line1" value="{{ nextQuestionExistingAnswer | getAnswerValueFromArrayOfMaps('addressLine1_' + option.id) }}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-2-{{ option.id }}">Address line 2 (optional)</label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2-{{ option.id }}" name="addressLine2_{{ option.id }}" type="text" autocomplete="address-line2" value="{{ nextQuestionExistingAnswer | getAnswerValueFromArrayOfMaps('addressLine2_' + option.id) }}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-town-{{ option.id }}">Town or city</label>
                    <input class="govuk-input govuk-!-width-one-half" id="address-town-{{ option.id }}" name="addressTown_{{ option.id }}" type="text" autocomplete="address-level2" value="{{ nextQuestionExistingAnswer | getAnswerValueFromArrayOfMaps('addressTown_' + option.id) }}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-county-{{ option.id }}">County (optional)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="address-county-{{ option.id }}" name="addressCounty_{{ option.id }}" type="text" value="{{ nextQuestionExistingAnswer | getAnswerValueFromArrayOfMaps('addressCounty_' + option.id) }}">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode-{{ option.id }}">Postcode</label>
                    <input class="govuk-input govuk-input--width-10" id="address-postcode-{{ option.id }}" name="addressPostcode_{{ option.id }}" type="text" autocomplete="postal-code" value="{{ nextQuestionExistingAnswer | getAnswerValueFromArrayOfMaps('addressPostcode_' + option.id) }}">
                  </div>
                </fieldset>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}