{% from "../macros/validationErrorMessage.njk" import validationErrorMessage %}

{% macro shortText(currentQuestionAndAnswer, existingAnswer, multipleQuestionsOnPage, validationErrors) %}
  {% set validationError = validationErrors | getValidationError(currentQuestionAndAnswer.question.id) %}

  <div class="govuk-form-group govuk-!-padding-top-3 {{ 'govuk-form-group--error' if validationError }}">
    {% if multipleQuestionsOnPage %}
      <label class="govuk-label govuk-label--m" for="{{ currentQuestionAndAnswer.question.id }}">{{ currentQuestionAndAnswer.question.title }}</label>
    {% endif %}
    <div id="{{ currentQuestionAndAnswer.question.id }}-hint" class='govuk-hint'>{{ currentQuestionAndAnswer.question.subTitle }}</div>
    {% if validationError %}
      {{ validationErrorMessage(validationError)  }}
    {% endif %}
    <input class="govuk-input govuk-!-width-two-thirds" id="{{ currentQuestionAndAnswer.question.id }}" name="{{ currentQuestionAndAnswer.question.id }}" type="text" value="{{ existingAnswer.answer if existingAnswer }}" />
  </div>
{% endmacro %}