{% macro statusDetails(pathwayData, prisonerNumber, pathway, resettlementAssessmentEnabled) %}
  <section id="pathway-status" class="app-summary-card govuk-!-margin-bottom-8">
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        Resettlement status:
        {% set statusValue = pathwayData.status | getEnumValue(resettlementAssessmentEnabled) %}
        <strong class="govuk-tag govuk-tag--{{ statusValue.color }}">
          {{ statusValue.name }}
        </strong>
      </h3>
    </header>
    <div class="app-summary-card__body">
      <div class="govuk-form-group govuk-!-margin-0">
        <input type="hidden" id="updated" name="updated" value="today">
        <input type="hidden" id="pathway" name="pathway" value="attitudes">
        <a class="govuk-button" href="/status-update?selectedPathway={{ pathway | getUrlFromName }}&prisonerNumber={{ prisonerNumber }}">
          Update status or notes
        </a>
      </div>
      <div class="govuk-form-group govuk-!-margin-0">
        <a class="govuk-button govuk-button--secondary" href="/status-update?selectedPathway={{ pathway | getUrlFromName }}&prisonerNumber={{ prisonerNumber }}#case-notes">
          View history
        </a>
      </div>
    </div>
  </section>
{% endmacro %}