{% macro tasksDetails(prisonerNumber, tasksViewEnabled, csrfToken, resetProfileEnabled, supportNeedsEnabled, readOnlyMode) %}
  <div class="govuk-grid-column-one-third">
    <section id="pathway-status" class="app-summary-card govuk-!-margin-bottom-8">
      <header class="app-summary-card__header">
        <h3 class="app-summary-card__title">Actions:</h3>
      </header>
      <div class="app-summary-card__body">
        {% if resetProfileEnabled %}
          <a href="/resetProfile?prisonerNumber={{prisonerNumber}}" class="govuk-button" id="reset-profile-btn" track-event-name="ResetReportsAndStatusesLinkClicked" track-event-prisoner-id="{{ prisonerNumber }}">
            Reset reports and {{ "support needs" if supportNeedsEnabled else "statuses" }}
          </a>
        {% endif %}
        {% if tasksViewEnabled == true %}
          <div class="govuk-form-group govuk-!-margin-0">
            <input type="hidden" id="updated" name="updated" value="today">
            <input type="hidden" id="pathway" name="pathway" value="attitudes">
            <a id="generate-pdf-task-btn"  class="govuk-button govuk-button--primary" href="/print/packPdf?prisonerNumber={{prisonerNumber}}" target="_blank">
              Plan Your Future pack PDF
            </a>
          </div>
          <div class="govuk-form-group govuk-!-margin-0">
            <a id="generate-otp-task-btn" class="govuk-button govuk-button--primary" href="/print/otp?prisonerNumber={{prisonerNumber}}">
              Generate First-time ID code
            </a>
          </div>
        {% endif %}
      </div>
    </section>
  </div>
{% endmacro %}
