{% macro titleAndIntro(title, intro) %}
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
            {{ title }}
        </h2>
        <p class="govuk-body-l">
            {{ intro }}
        </p>
    </div>
{% endmacro %}