{% extends "govuk/template.njk" %}

{% from "../macros/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/title-and-intro.njk" import titleAndIntro %}
{% from "../macros/incompleteImmediateNeedsReport.njk" import incompleteImmediateNeedsReport %}
{% from "../macros/status-details.njk" import statusDetails %}
{% from "../macros/tasks-details.njk" import tasksDetails %}
{% from "../macros/pathway-subnav.njk" import subNav %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set feedbackText %}This is a new service – your <a class="govuk-link"
                                                      href="{{ feedbackUrl }}">feedback</a> will help us to improve it.{% endset %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
  <script src="/assets/js/jquery.min.js"></script>
  {% if enableApplicationInsights %}
    {% include "./applicationInsightsScript.njk" %}
  {% endif %}
  <!--<![endif]-->
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}
  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}
  <script src="/assets/analytics.js" nonce="{{ cspNonce }}"></script>
  <meta name="csrf-token" content="{{ csrfToken }}">
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}
{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: phaseName
      },
      html: feedbackText
    }) }}
    {% if isPrisonUser %}
      {% set topLevelBreadcrumb = 'Digital Prison Services' %}
    {% else %}
      {% set topLevelBreadcrumb = 'HMPPS Digital Services' %}
    {% endif %}
    {% if prisonerData %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        },
        {
          text: "Prepare someone for release",
          href: '/'
        }
      ] %}
      {% set pageHeading = "Resettlement record" %}
    {% else %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        }
      ] %}
    {% endif %}

    {{ breadCrumb(breadcrumbItems) }}
    <br />
    {% if pageHeading %}
      <span class="govuk-caption-xl">{{ applicationName }}</span>
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
    {% else %}
      <h1 class="govuk-heading-xl">{{ applicationName }}</h1>
    {% endif %}

    {% include "./profileHeader.njk" %}
    {% include "./mainNav.njk" %}
  </div>
{% endblock %}
{% block bodyStart %}{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
    <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}
