{% extends "govuk/template.njk" %}

{% from "../macros/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/title-and-intro.njk" import titleAndIntro %}
{% from "../macros/status-details.njk" import statusDetails %}
{% from "../macros/pathway-subnav.njk" import subNav %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}

  <div class="govuk-width-container">
    {% set breadcrumbItems = [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Prepare someone for release",
        href: '/'
      },
      {
        text: [prisonerData.personalDetails.lastName, ", ", prisonerData.personalDetails.firstName, " (", prisonerData.personalDetails.prisonerNumber, ")"] | join,
        href: '/prisoner-overview/?prisonerNumber=' + prisonerData.personalDetails.prisonerNumber if pathway !== 'Resettlement overview'
      },
      {
        text: pathway
      }
    ] %}

    {% set dynamicBreadcrumbs = [] %}
    {% for item in breadcrumbItems %}
      {% if pathway !== 'Resettlement overview' %}
        {% set _ = dynamicBreadcrumbs.push(item) %}
      {% else %}
        {% if loop.index !== 4 %}
          {% set _ = dynamicBreadcrumbs.push(item) %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {{ breadCrumb(dynamicBreadcrumbs) }}

    {% include "../partials/profileHeader.njk" %}
    {% include "../partials/mainNav.njk" %}
  </div>
{% endblock %}
{% block bodyStart %}{% endblock %}

{% block bodyEnd %}{% endblock %}