{% set subNavigationList = [
  {
    name: 'Resettlement overview',
    url: '/prisoner-overview/'
  },
  {
    name: 'Accommodation',
    url: '/accommodation/'
  },
  {
    name: 'Attitudes, thinking and behaviour',
    url: '/attitudes-thinking-and-behaviour'
  },
  {
    name: 'Children, families and communities',
    url: '/children-families-and-communities/'
  },
  {
    name: 'Drugs and alcohol',
    url: '/drugs-and-alcohol/'
  },
  {
    name: 'Education, skills and work',
    url: '/education-skills-and-work/'
  },
  {
    name: 'Finance and ID',
    url: '/finance-and-id/'
  },
  {
    name: 'Health',
    url: '/health-status/'
  }
] %}

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        {% for navItem in subNavigationList %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="{{ navItem.url }}?prisonerId={{ prisonerData.prisonerId }}" {{ "aria-current=page" if pathway === navItem.name }}>
              {{ navItem.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
