<div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
        <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/" {{ "aria-current=page" if pathway === "Resettlement Overview" }}>
                            Resettlement overview
                        </a>
                </li>

                <li class="moj-sub-navigation__item">

                    <a class="moj-sub-navigation__link" href="/accommodation" {{ "aria-current=page" if pathway === "Accommodation" }}>
                            Accommodation
                        </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/attitudes-thinking-and-behaviour" {{ "aria-current=page" if pathway === "Attitudes, thinking and behaviour" }}>
                            Attitudes, thinking and behaviour
                        </a>
                </li>

                <li class="moj-sub-navigation__item">

                    <a class="moj-sub-navigation__link" href="/children-families-and-communities" {{ "aria-current=page" if pathway === "Children, families and communities" }}>
                            Children, families and communities
                        </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/drugs-and-alcohol" {{ "aria-current=page" if pathway === "Drugs and Alcohol" }}>
                            Drugs and alcohol
                        </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/education-skills-and-work" {{ "aria-current=page" if pathway === "Education, skills and work" }}>
       Education, skills and work
                        </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/finance-and-id" {{ "aria-current=page" if pathway === "Finance and ID" }}>
                            Finance and ID
                        </a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/health-status" {{ "aria-current=page" if pathway === "Health" }}>
                            Health
                        </a>
                </li>

            </ul>
        </nav>

    </div>

</div>