<div class="govuk-grid-row govuk-!-margin-bottom-4 bg-grey">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l govuk-!-padding-top-4">
            <a href="/prisoner-profile" class="govuk-header__link">
                <b>Resettlement</b>
            </a>
        </p>
    </div>
    <div class="govuk-grid-column-full">
        <nav class="govuk-header__navigation" role="navigation">
            <ul class="govuk-header__navigation-list">

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/accommodation">
                        Accommodation
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/attitudes-thinking-and-behaviour">
                        Attitudes, thinking and behaviour
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/children-families-and-communities">
                        Children, families and communities
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="drugs-and-alcohol">
                        Drugs and alcohol
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/education-skills-and-work">
                        Education, skills and work
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/finance-and-id">
                        Finance and ID
                    </a>
                </li>

                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="/health-status">
                        Health
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>