{% if prisonerData %}
  <div class="govuk-grid-row profile-header">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <a href="/prisoner-overview/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">
                <img src="data:image/jpeg;base64, {{ prisonerData.prisonerImage }}" alt="view prisoner profile"
                     class="govuk-!-width-full profile-header__person-photo">
              </a>
            </div>
            <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-xl" data-qa="profile-heading-full-name">
                {{ prisonerData.personalDetails.lastName | toTitleCase }}, {{ prisonerData.personalDetails.firstName | toTitleCase }}
                <span class="govuk-caption-l">{{ prisonerData.personalDetails.prisonerNumber }}</span>
                <p class="govuk-body-s govuk-!-padding-top-2">
                  <a href="{{ dpsUrl }}/prisoner/{{ prisonerData.personalDetails.prisonerNumber }}">View full DPS
                    profile</a>
                </p>
              </h1>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <p>
                <b>Prisoner number:</b><br>
                {{ prisonerData.personalDetails.prisonerNumber }}</p>
              <p>
                <b>Location:</b>
                {{ prisonerData.personalDetails.location }}
              </p>
              <p>
                <b>Date of birth:</b>
                {{ prisonerData.personalDetails.dateOfBirth | formatDate }}
                ({{ prisonerData.personalDetails.age }})</p>
            </div>
            <div class="govuk-grid-column-one-half">
              <p>
                <b>Release date:</b>
                {{ prisonerData.personalDetails.releaseDate | formatDate or 'Unavailable'}}
                <br />
                {% set isDayFriday = prisonerData.personalDetails.releaseDate | isFriday %}
                {% if isDayFriday %}
                <span class="govuk-body-s" id="fridayRelease" aria-hidden="true">⚠️ Friday <br/></span>
                <span class="govuk-visually-hidden"> Warning: release date is a Friday </span>
                {% endif %}
                {% set daysData = prisonerData.personalDetails.releaseDate | getDaysFromDate %}
                {% if daysData %}
                  ({{ daysData.daysDiff }} days{% if daysData.isPast %} ago{% endif %})
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}