<div class="govuk-grid-row blue profile-header">

    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-column-one-quarter">
                    <img src="assets/images/profile-photo.png" alt="South" class="govuk-!-width-full profile-header__person-photo"></div>
                <div class="govuk-grid-column-three-quarters">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h1 class="govuk-heading-xl">
                        South, James
                    </h1>
                        </div>
                        <div class="govuk-grid-column-full">
                            <span class="profile-header__person-id">G2911GD</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half">

                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-third">

                        <p>
                            <b>Location:</b>
                            <br>D3-011
                        </p>

                    </div>

                    <div class="govuk-grid-column-one-third">

                        <p>
                            <b>Date of birth:</b><br> 17 July 1976<br>
                            (47 years)</p>

                    </div>
                    <div class="govuk-grid-column-one-third">
                        <p>
                            <b>Release date:</b><br>
                            15 October 2023
                            <br> (80 days)
                            
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>