<!-- Main content area -->
<div
  class="govuk-grid-column-one-quarter">
  <!-- Pathway subnav -->
  <ul class="app-subnav__section">
    <li class="app-subnav__section-item app-subnav__section-item--current">
      <ul class="app-subnav__section app-subnav__section--nested">
        <li class="app-subnav__section-item">
          <a href="#crs-refer">CRS referral</a>
        </li>
        <li class="app-subnav__section-item">
          <a href="#duty-to-refer">Duty to refer</a>
        </li>
        <li class="app-subnav__section-item">
          <a href="#first-night-accommodation">First night accommodation</a>
        </li>
      </ul>
    </li>
  </ul>
</div>