<section id="support-needs-updates" class="app-summary-card govuk-!-margin-bottom-8">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">
      {{ pathway }} updates
      <span class="govuk-caption-m">Some updates may not be linked to a support need as they were created before support needs were added to PSfR. <a class="govuk-link govuk-link--no-visited-state" href="/service-updates/support-needs">Find out more about this update</a>.</span>
    </h3>
  </header>
  <div class="app-summary-card__body govuk-!-padding-top-4">
    {% if supportNeedsUpdates.updates | length > 0 %}
      <div class="govuk-grid-row govuk-!-padding-top-2">
        <form method="GET" action="/{{ pathway | getUrlFromName }}/#support-needs-updates" novalidate>
          <div class="govuk-form-group">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="supportNeedUpdateSort">Sort by</label>
              <select class="govuk-select" id="supportNeedUpdateSort" name="supportNeedUpdateSort">
                <option value="createdDate,DESC" {% if supportNeedUpdateSort == "createdDate,DESC" %}selected{% endif %}>Created (newest)</option>
                <option value="createdDate,ASC" {% if supportNeedUpdateSort == "createdDate,ASC" %}selected{% endif %}>Created (oldest)</option>
              </select>
              <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}"/>
              <button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-left-2" data-module="govuk-button">Sort</button>
            </div>
          </div>
        </form>
        <div class="govuk-grid-column-full" id="updates-container">
          <hr>
          {% for update in supportNeedsUpdates.updates %}
            <div>
              <h3>{{ update.title }}</h3>
              {% if update.status %}
                <p>
                  <strong>Status set to: </strong>
                  {% set tagColour = "govuk-tag--" + (update.status | getSupportNeedsColour) %}
                  <span class="govuk-tag {{ tagColour }}">{{ update.status | getSupportNeedsStatus }}</span>
                </p>
              {% endif %}
              {% if update.isPrisonResponsible or update.isProbationResponsible %}
                <p>
                  <strong>Responsible staff set to: </strong>
                  {% if update.isPrisonResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Prison resettlement team</strong>
                  {% endif %}
                  {% if update.isProbationResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Community probation staff</strong>
                  {% endif %}
                </p>
              {% endif %}
              {% set caseNoteIntro = update.text | getCaseNotesIntro %}
              {% if caseNoteIntro %}
                <p><strong>{{ caseNoteIntro }}</strong></p>
              {% endif %}
              <p class="show-line-breaks">{{ update.text | getCaseNotesText }}</p>
              <span class="govuk-caption-m">Updated: {{ update.createdAt | formatDate('long') }} by {{ update.createdBy }}</span>
              <br>
            </div>
            <hr>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p><strong>There are currently no updates</strong></p>
    {% endif %}
  </div>
</section>