<section id="support-needs" class="app-summary-card govuk-!-margin-bottom-8">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">Support needs</h3>
       {% if prisonerData.supportNeedsLegacyProfile %}
           <div class="govuk-summary-card__actions">
               <p class="govuk-body-m govuk-!-margin-bottom-0">
                   New support needs cannot be added for this person.&nbsp;<a class="govuk-link govuk-link--no-visited-state" href="#">Find out why</a>.
               </p>
           </div>
       {% else %}
           <a class="govuk-summary-card__actions govuk-link govuk-link--no-visited-state" href="/support-needs/{{ pathway | getUrlFromName }}/start/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Add a support need</a>
       {% endif %}
  </header>
  <div class="app-summary-card__body govuk-!-padding-top-4">
    {% if pathwaySupportNeedsSummary.supportNeedsSet %}
      <table class="govuk-table govuk-!-margin-bottom-4">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Support need</th>
          <th scope="col" class="govuk-table__header">Responsible staff</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Number of updates</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for supportNeed in pathwaySupportNeedsSummary.prisonerNeeds %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">
                <a href="/support-needs/{{ pathway | getUrlFromName }}/update/{{ supportNeed.id }}?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}" class="govuk-link govuk-link--no-visited-state">{{ supportNeed.title }}</a>
              </td>
              <td class="govuk-table__cell">
                {% if supportNeed.isPrisonResponsible %}
                  <strong class="govuk-tag govuk-tag--blue">Prison</strong>
                  <br />
                {% endif %}
                {% if supportNeed.isProbationResponsible %}
                  <strong class="govuk-tag govuk-tag--blue">Community</strong>
                  <br />
                {% endif %}
                {% if not supportNeed.isPrisonResponsible and not supportNeed.isProbationResponsible and supportNeed.numberOfUpdates === 0 %}
                  <strong class="govuk-tag govuk-tag--grey">Not set</strong>
                  <br />
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if not supportNeed.status and supportNeed.numberOfUpdates === 0 %}
                  <span class="govuk-tag govuk-tag--grey">Not set</span>
                {% else %}
                  {% set tagColour = "govuk-tag--" + (supportNeed.status | getSupportNeedsColour) %}
                  <span class="govuk-tag {{ tagColour }}">{{ supportNeed.status | getSupportNeedsStatus }}</span>
                {% endif %}
              </td>
              <td class="govuk-table__cell">{{ supportNeed.numberOfUpdates }}</td>
              <td class="govuk-table__cell">{{ supportNeed.lastUpdated | formatDate }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p><b>Support needs not set</b></p>
    {% endif %}
  </div>
</section>