{% from "../macros/service-update.njk" import serviceUpdate %}
{%- if whatsNewEnabled -%}
  {% set whatsNewContent %}
    {%- if not banner.title -%}
      <h3 class="govuk-heading-s">{{ banner.date }}</h3>
    {%- endif -%}

    {{ serviceUpdate(banner.bodyText, banner.bulletPoints, banner.detailsLink) }}

    <p>
      Let us know what you think of these changes using our
      <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="{{ feedbackUrl }}">feedback form</a>.
    </p>
  {% endset %}
{%- endif -%}
{%- if whatsNewEnabled -%}
  <div id="whats-new-banner" class="govuk-grid-row whats-new-banner">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          {%- if banner.title -%}
            <h2 class="govuk-heading-m">{{ banner.title }}</h2>
          {%- else -%}
            <h2 class="govuk-heading-m">What's new</h2>
          {%- endif -%}
        </div>

        <div class="govuk-grid-column-one-quarter whats-new-banner-dismiss">
          <a id="whats-new-dismiss" class="ghost-button" href="{{ whatsNewDismissUrl }}">Dismiss</a>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">{{ whatsNewContent | safe }}</div>
      </div>
    </div>
  </div>
{%- endif -%}
