services:
  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "9090:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/auth/health" ]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  app:
    build:
      context: .
      args:
        BUILD_NUMBER: 1
        GIT_REF: local
        GIT_BRANCH: unknown
    networks:
      - hmpps
    ports:
      - "3000:3000"
    env_file:
      - .env
      - docker-compose.env

networks:
  hmpps:
