{% extends "./partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set pageHeading = "Authorisation Error" %}

{% block content %}
  <p>
    You are not authorised to use this application.
  </p>
{% endblock %}
