div.sticky {
  position: -webkit-sticky;
  position: sticky !important;
}

.sticky-anchor-links {
  position: sticky;
  top: 0;
  left: 0;
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  padding: 2px 0;
}

.app-subnav__section--nested .app-subnav__section-item:before {
  padding-right: 5px;
}

.app-subnav__section-item {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-subnav__section-item--current {
  margin-left: -14px;
  padding-left: 10px;
  border-left: 4px solid #1d70b8;
  background-color: #fff;
}

.app-subnav__section-item--current .app-subnav__link {
  font-weight: bold;
}

.app-subnav__section--nested {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 20px;
}

.app-subnav__section--nested .app-subnav__section-item:before {
  content: "—";
  margin-left: -20px;
  color: #505a5f;
}

.app-subnav__section--nested .app-subnav__link {
  padding-left: 0;
  font-weight: normal;
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px 10px 0;
  color: #505a5f;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.app-summary-card__title {
  font-size: 1.5rem !important;
}

.profile-header {
  padding: 0 0 20px;

  &__person-id {
    @extend .govuk-caption-xl;
    color: white;
  }

  &__person-photo {
    border: 2px solid white;
  }
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.green {
  background-color: #00703c;
}

.yellow {
  background-color: #ffdd00;
}

.grey {
  background-color: #b1b4b6;
}

.red {
  background-color: #d4351c;
}

.filters {
  background-color: #f3f2f1 !important;
  padding: 15px 10px 10px 0px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* Summary card from CIAG */
.app-summary-card {
  border: 1px solid #b1b4b6;
  /* Card header */
  /* Card body */
  /* .govuk-summary-list__row:last-child,
  .govuk-summary-list__row:last-child > *,
  .govuk-table__row:last-child .govuk-table__cell {
      border-bottom: 0;
  } */
}

.app-summary-card .app-summary-card__header {
  align-items: center;
  background-color: #f3f2f1;
  padding: 15px;
}

@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.app-summary-card .app-summary-card__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  margin: 0;
}

@media print {
  .app-summary-card .app-summary-card__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-summary-card .app-summary-card__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-summary-card .app-summary-card__meta {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  display: block;
  margin: 0;
}

@media print {
  .app-summary-card .app-summary-card__meta {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__meta {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-summary-card .app-summary-card__meta {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.app-summary-card .app-summary-card__actions {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .app-summary-card .app-summary-card__actions {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__actions {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-summary-card .app-summary-card__actions {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-summary-card .app-summary-card__actions-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-summary-card .app-summary-card__actions-list-item {
  display: block;
  white-space: nowrap;
}

@media (min-width: 48.0625em) {
  .app-summary-card .app-summary-card__actions-list-item {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
  }
}

.app-summary-card .app-summary-card__actions-list-item:first-child {
  margin-left: 0;
}

.app-summary-card .app-summary-card__body {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding: 15px;
}

@media print {
  .app-summary-card .app-summary-card__body {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__body {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-summary-card .app-summary-card__body {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-summary-card .app-summary-card__hint {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  margin: 30px 0 10px 0;
  color: #505a5f;
}

@media print {
  .app-summary-card .app-summary-card__hint {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card .app-summary-card__hint {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-summary-card .app-summary-card__hint {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.app-summary-card .govuk-table,
.app-summary-card .govuk-summary-list,
.app-summary-card .govuk-table {
  margin-bottom: 0;
}

.app-summary-card--large-title .app-summary-card__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

@media print {
  .app-summary-card--large-title .app-summary-card__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-summary-card--large-title .app-summary-card__title {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-summary-card--large-title .app-summary-card__title {
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media print {
  .app-summary-card__header {
    break-inside: avoid;
  }

  .app-summary-card__actions {
    display: none;
  }
}

.govuk-notification-banner__content>* {
  box-sizing: border-box;
  max-width: 100% !important;
}

.dps-header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .dps-header {
    padding-top: 15px;
  }
}

@media (min-width: 40.0625em) {
  .dps-header {
    padding-bottom: 15px;
  }
}

.dps-header__container {
  max-width: 1170px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@supports (margin: max(calc(0px))) {
  .dps-header__container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 40.0625em) {
  .dps-header__container {
    margin-right: 30px;
    margin-left: 30px;
  }

  @supports (margin: max(calc(0px))) {
    .dps-header__container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1230px) {
  .dps-header__container {
    margin-right: auto;
    margin-left: auto;
  }

  @supports (margin: max(calc(0px))) {
    .dps-header__container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.dps-header__logo {
  margin-right: 10px;
  position: relative;
  top: -2px;
  fill: #fff;
}

@media (min-width: 40.0625em) {
  .dps-header__logo {
    margin-right: 10px;
  }
}

.dps-header__title {
  padding-right: 15px;
  display: flex;
  align-items: center;
}

@media (min-width: 40.0625em) {
  .dps-header__title {
    padding-right: 15px;
  }
}

.dps-header__title__organisation-name {
  margin-right: 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: flex;
  align-items: center;
}

@media (min-width: 40.0625em) {
  .dps-header__title__organisation-name {
    margin-right: 10px;
  }
}

@media print {
  .dps-header__title__organisation-name {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__title__organisation-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .dps-header__title__organisation-name {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.dps-header__title__service-name {
  display: none;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

@media print {
  .dps-header__title__service-name {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__title__service-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .dps-header__title__service-name {
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 48.0625em) {
  .dps-header__title__service-name {
    display: inline-block;
  }
}

.dps-header__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .dps-header__link {
    font-family: sans-serif;
  }
}

.dps-header__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

.dps-header__link:link {
  color: #1d70b8;
}

.dps-header__link:visited {
  color: #4c2c92;
}

.dps-header__link:hover {
  color: #003078;
}

.dps-header__link:active {
  color: #0b0c0c;
}

.dps-header__link:focus {
  color: #0b0c0c;
}

.dps-header__link:link,
.dps-header__link:visited,
.dps-header__link:active {
  color: #fff;
  text-decoration: none;
}

.dps-header__link:hover {
  text-decoration: underline;
}

.dps-header__link:focus {
  color: #0b0c0c;
}

.dps-header__link:focus svg {
  fill: #0b0c0c;
}

.dps-header__link__sub-text {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  display: none;
}

@media print {
  .dps-header__link__sub-text {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__link__sub-text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .dps-header__link__sub-text {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__link__sub-text {
    display: block;
  }
}

.dps-header__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .dps-header__navigation {
    flex-direction: row;
    align-items: center;
  }
}

.dps-header__navigation__item {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 5px;
  text-align: right;
}

@media print {
  .dps-header__navigation__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__navigation__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .dps-header__navigation__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .dps-header__navigation__item {
    margin-right: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    border-right: 1px solid #fff;
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .dps-header__navigation__item {
    margin-right: 20px;
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .dps-header__navigation__item {
    padding-right: 20px;
  }
}

.dps-header__navigation__item a {
  display: inline-block;
}

.dps-header__navigation__item:last-child {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}

@media print {
  .dps-header {
    display: none;
  }
}

#main-content * {
  box-sizing: border-box;
}

.header {
  padding: 25px 0;
  border-top: 7px solid #14213D;
}

._body,
._html {
  background-color: #f3f2f1;
}

.govuk-header--override {
  background-color: #ffffff;
  color: #14213D;
}

.govuk-header--override .govuk-header__content {
  padding: 0 10px;
}

.govuk-header--override .govuk-header__menu-button {
  color: #14213D;
  top: 12px;
  right: 10px;
}

.govuk-header__service-name {
  color: #14213D;
}

.govuk-header--override .govuk-header__link:link,
.govuk-header--override .govuk-header__link:visited {
  color: #14213D;
}

.govuk-header--override .govuk-header__container {
  border-bottom: none;
}

.footer {
  padding-bottom: 25px;
}

.govuk-table__cell{
  &--min-width-100{
    min-width: 100px;
  }
}

.capitalise{
  text-transform: capitalize;
}
.ghost-button {
  border: 0px;
  background: transparent;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #d4351c;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.govuk-main-wrapper{
  padding-top:0;
}

.prisoner-name-filter {
  max-width: 280px;
}