{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Accommodation" %}
{% set pid= 0 %}
{% set pathway = "accommodation" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% include "../partials/sectionIntro.njk" %}
<div class="govuk-grid-row govuk-!-padding-top-4">
{% include "../partials/sideNavigation.njk" %}
    <div class="govuk-grid-column-three-quarters">       
        <section id="crs-refer" class="app-summary-card govuk-!-margin-bottom-8">
            <header class="app-summary-card__header">
                <h3 class="app-summary-card__title">
                    CRS referral<span class="govuk-caption-m">Data sourced from nDelius</span>
                </h3>
                <span class="right">

                </span>
            </header>

            <div class="app-summary-card__body">
                {{ govukTable({
                    firstCellIsHeader: true,
                    rows: [
                      [
                        {
                          text: "CRS referral required"
                        },
                        {
                          text: "Yes"
                        }
                      ],
                      [
                        {
                          text: "Status"
                        },
                        {
                          text: "Completed"
                        }
                      ],
                      [
                        {
                          text: "Provider"
                        },
                        {
                          text: "Manchester Local Housing Organisation"
                        }
                      ],
                      [
                        {
                          text: "Provider address"
                        },
                        {
                          text: "123 Station Road, Manchester, M1 2AB"
                        }
                      ],
                      [
                        {
                          text: "Provider phone"
                        },
                        {
                          text: "0161 123 4455"
                        }
                      ]
                    ]
                  }) }}
            </div>
        </section>
        <section id="duty-to-refer" class="app-summary-card govuk-!-margin-bottom-8">
            <header class="app-summary-card__header">
                <h3 class="app-summary-card__title">
                    Duty to refer <span class="govuk-caption-m">Data sourced from nDelius</span>
                </h3>
                <span class="right">

                </span>
            </header>

            <div class="app-summary-card__body">
                {{ govukTable({
                    firstCellIsHeader: true,
                    rows: [
                      [
                        {
                          text: "Duty to refer required"
                        },
                        {
                          text: "Yes"
                        }
                      ],
                      [
                        {
                          text: "Referal completed"
                        },
                        {
                          text: "Yes"
                        }
                      ],
                      [
                        {
                          text: "Reference number"
                        },
                        {
                          text: "XX457878"
                        }
                      ],
                      [
                        {
                          text: "Local authority"
                        },
                        {
                          text: "Manchester City Council"
                        }
                      ],
                      [
                        {
                          text: "Local authority address"
                        },
                        {
                          text: "123 Main Street Manchester M1 1AA"
                        }
                      ],
                      [
                        {
                          text: "Local authority phone"
                        },
                        {
                          text: "0161 123 4567"
                        }
                      ],
                      [
                        {
                          text: "Local authority email"
                        },
                        {
                          text: "housing@manchester.gov.uk"
                        }
                      ]
                    ]
                  }) }}
            </div>
        </section>
        <section id="first-night-accommodation" class="app-summary-card govuk-!-margin-bottom-8">
            <header class="app-summary-card__header">
                <h3 class="app-summary-card__title">
                    First night accommodation <span class="govuk-caption-m">Data sourced from nDelius</span>
                </h3>
                <span class="right">

                </span>
            </header>

            <div class="app-summary-card__body">
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: [
                      {
                        text: "Address"
                      },
                      {
                        text: "123 Ascot Road Manchester M1 1AA"
                      }
                    ],
                    rows: [
                      [
                        {
                          text: "Type"
                        },
                        {
                          text: "Hostel"
                        }
                      ]
                    ]
                  }) }}
            </div>
        </section>

    </div>
</div>
{% endblock %}
