{% extends "../partials/layout.njk" %}
{% set pathway = "Finance and ID" %}
{% set pageTitle = applicationName + " - " + pathway + " - Add a bank account application"%}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        {{ titleAndIntro(pathway) }}
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Check your answers before adding a bank account application</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Bank</dt>
                    <dd class="govuk-summary-list__value">{{params.bank}}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/finance-and-id/add-a-bank-account{{req.url}}">Change<span class="govuk-visually-hidden"> Bank</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Application submitted</dt>
                    <dd class="govuk-summary-list__value">{{params.applicationSubmittedDay}} {{params.applicationSubmittedMonth}} {{params.applicationSubmittedYear}}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/finance-and-id/add-a-bank-account{{req.url}}">Change<span class="govuk-visually-hidden"> Application submitted</span></a>
                    </dd>
                </div>
            </dl>
            <form action="id" method="post" novalidate="">
                <input type="hidden" name="delete-bank-acc" value="no">
                <input type="hidden" name="bank-acc-completed" value="true">
                <button class="govuk-button" data-module="govuk-button">Accept and send</button>
            </form>
        </div>
    </div>
{% endblock %}