{% extends "../partials/layout.njk" %}
{% set pathway = "Finance and ID" %}
{% set pageTitle = applicationName + " - " + pathway + " - Add an ID application"%}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        {{ titleAndIntro(pathway) }}
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">
            <h2>Apply for an ID</h2>
            <form action="/finance-and-id/add-an-id-further/" class="govuk-form"  novalidate>
                <div class="govuk-form-group {{ "govuk-form-group--error" if errorMsg.idType }}">
                    <label class="govuk-label" for="idType">Type</label>
                    {% if errorMsg.applicationSubmittedDay or errorMsg.applicationSubmittedMonth or errorMsg.applicationSubmittedYear or errorMsg.futureDate or errorMsg.isValidDate %}
                        <div class="govuk-!-margin-top-5">
                            {% if errorMsg.idType %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.idType }}
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <select class="govuk-select" id="idType" name="idType">
                        <option value="">Select type</option>
                        <option value="Birth certificate" {% if params.idType == "Birth certificate" %}selected{% endif %}>Birth certificate</option>
                        <option value="Marriage certificate" {% if params.idType == "Marriage certificate" %}selected{% endif %}>Replacement marriage certificate</option>
                        <option value="Civil partnership certificate" {% if params.idType == "Civil partnership certificate" %}selected{% endif %}>Replacement civil partnership certificate</option>
                        <option value="Adoption certificate" {% if params.idType == "Adoption certificate" %}selected{% endif %}>Adoption certificate</option>
                        <option value="Divorce decree absolute certificate" {% if params.idType == "Divorce decree absolute certificate" %}selected{% endif %}>Divorce decree absolute certificate</option>
                        <option value="Driving licence" {% if params.idType == "Driving licence" %}selected{% endif %}>Driving licence</option>
                        <option value="Biometric residence permit" {% if params.idType == "Biometric residence permit" %}selected{% endif %}>Biometric residence permit</option>
                        <option value="Deed poll certificate" {% if params.idType == "Deed poll certificate" %}selected{% endif %}>Deed poll certificate</option>
                    </select>

                </div>

                <div class="govuk-form-group {{ "govuk-form-group--error" if errorMsg.applicationSubmittedDay or errorMsg.applicationSubmittedMonth or errorMsg.applicationSubmittedYear or errorMsg.futureDate or errorMsg.isValidDate }}">
                    <label class="govuk-label" for="application-submitted">Application submitted</label>
                    {% if errorMsg.applicationSubmittedDay or errorMsg.applicationSubmittedMonth or errorMsg.applicationSubmittedYear or errorMsg.futureDate or errorMsg.isValidDate %}
                        <div class="govuk-!-margin-top-5">
                            {% if errorMsg.applicationSubmittedDay %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.applicationSubmittedDay }}
                                </p>
                            {% endif %}
                            {% if errorMsg.applicationSubmittedMonth %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.applicationSubmittedMonth }}
                                </p>
                            {% endif %}
                            {% if errorMsg.applicationSubmittedYear %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.applicationSubmittedYear }}
                                </p>
                            {% endif %}
                            {% if errorMsg.futureDate %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.futureDate }}
                                </p>
                            {% endif %}
                            {% if errorMsg.isValidDate %}
                                <p class="govuk-error-message">
                                    {{ errorMsg.isValidDate }}
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="govuk-date-input" id="application-submitted">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="applicationSubmittedDay">Day</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ "govuk-input--error" if errorMsg.applicationSubmittedDay or errorMsg.futureDate or errorMsg.isValidDate }}" id="applicationSubmittedDay" name="applicationSubmittedDay" type="text" value="{{ params.applicationSubmittedDay if params.applicationSubmittedDay | length else "" }}" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label " for="applicationSubmittedMonth">Month</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ "govuk-input--error" if errorMsg.applicationSubmittedMonth or errorMsg.futureDate or errorMsg.isValidDate }}" id="applicationSubmittedMonth" name="applicationSubmittedMonth" type="text" value="{{ params.applicationSubmittedMonth if params.applicationSubmittedMonth | length else "" }}" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="applicationSubmittedYear">Year</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {{ "govuk-input--error" if errorMsg.applicationSubmittedYear or errorMsg.futureDate or errorMsg.isValidDate }}" id="applicationSubmittedYear" name="applicationSubmittedYear" type="text" value="{{ params.applicationSubmittedYear if params.applicationSubmittedYear | length else "" }}" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
                <input hidden name="isPriorityApplication" value="{{ params.isPriorityApplication }}"/>
                <input hidden name="costOfApplication" value="{{ params.costOfApplication }}"/>
                <input hidden name="driversLicenceApplicationMadeAt" value="{{ params.driversLicenceApplicationMadeAt }}"/>
                <input hidden name="driversLicenceType" value="{{ params.driversLicenceType }}"/>
                <input hidden name="courtDetails" value="{{ params.courtDetails }}"/>
                <input hidden name="caseNumber" value="{{ params.caseNumber }}"/>
                <input hidden name="isUkNationalBornOverseas" value="{{ params.isUkNationalBornOverseas }}"/>
                <input hidden name="countryBornIn" value="{{ params.countryBornIn }}"/>
                <input hidden name="haveGro" value="{{ params.haveGro }}"/>
                <button class="govuk-button" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}