{% extends "../partials/layout.njk" %}
{% set pathway = "Finance and ID" %}
{% set pageTitle = applicationName + " - " + pathway + " - Add an ID application"%}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        {{ titleAndIntro(pathway) }}
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">
            <h2>Apply for an ID</h2>
            <form action="id-add-2" class="govuk-form" novalidate>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="type">Type</label>
                    <select class="govuk-select" id="type" name="type">
                        <option value="">Select type</option>
                        <option value="birth-certificate">Birth certificate</option>
                        <option value="replacement-marriage-certificate">Replacement marriage certificate</option>
                        <option value="replacement-civil-partnership-certificate">Replacement civil partnership certificate</option>
                        <option value="adoption-certificate">Adoption certificate</option>
                        <option value="divorce-decree-absolute-certificate">Divorce decree absolute certificate</option>
                        <option value="driving-licence">Driving licence</option>
                        <option value="biometric-residence-permit">Biometric residence permit</option>
                        <option value="deed-poll-certificate">Deed poll certificate</option>
                    </select>

                </div>

                <div class="govuk-form-group">
                    <div class="govuk-date-input" id="date-requested">
                        <label class="govuk-label" for="date-requested-day">Application submitted</label>
                        <!-- Date requested input -->
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="date-requested-day">Day</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-requested-day" name="date-requested-day" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="date-requested-month">Month</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-requested-month" name="date-requested-month" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="date-requested-year">Year</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-requested-year" name="date-requested-year" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id-1-completed" value="true">
                <button class="govuk-button" type="submit">Continue</button>
            </form>
        </div>
    </div>

{% endblock %}