{% extends "../partials/layout.njk" %}
{% set pathway = "Resettlement overview" %}
{% set pageTitle = applicationName + " - " + pathway + " - Add an appointment" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
  </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      <h2>Add appointment</h2>
      <p>Placeholder for form.</p>
    </div>
  </div>

{% endblock %}