{% extends "../partials/layout.njk" %}
{% set pathway = "Finance and ID" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
  </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Finance and ID assessment</h3>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m">Check your answers before submitting the finance and ID assessment</h2><br>
          <form action="/finance-and-id/assessment-submit/" method="POST" novalidate>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of assessment</dt>
                {% set date = params.dateAssessmentYear + "-" + params.dateAssessmentMonth + "-" + params.dateAssessmentDay %}
                <dd class="govuk-summary-list__value">{{ date | formatDate }}</dd>
                <input hidden name="assessmentDate" value="{{ date | formatDateToIso }}"/>
                <dd class="govuk-summary-list__actions">
                  <a href="/finance-and-id/assessment{{req.url}}">Change<span class="govuk-visually-hidden"> date of assessment</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Requires a bank account application</dt>
                <dd class="govuk-summary-list__value">
                  {% if params.isBankAccountRequired and true in params.isBankAccountRequired %}Yes{% else %}No{% endif %}
                </dd>
                <input hidden name="isBankAccountRequired" value="{{ params.isBankAccountRequired }}"/>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/finance-and-id/assessment{{req.url}}">
                Change<span class="govuk-visually-hidden"> bank account application</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Requires an ID application</dt>
                <dd class="govuk-summary-list__value">
                  {% if params.isIdRequired and true in params.isIdRequired %}Yes{% else %}No{% endif %}
                </dd>
                <input hidden name="isIdRequired" value="{{ params.isIdRequired }}"/>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/finance-and-id/assessment{{req.url}}">
                Change<span class="govuk-visually-hidden"> ID application</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Existing ID</dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list">
                    {% if not params.idDocuments %}
                      <li>{{ params.idDocuments }}</li>
                      <input hidden name="idDocuments" value=""/>
                    {% endif %}
                    {% if params.idDocuments is string %}
                      <li>{{ params.idDocuments }}</li>
                      <input hidden name="idDocuments" value="{{ params.idDocuments }}"/>
                    {% else %}
                      {% for id in params.idDocuments %}
                        <li>{{ id }}</li>
                        <input hidden name="idDocuments" value="{{ id }}"/>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/finance-and-id/assessment{{req.url}}">
                Change<span class="govuk-visually-hidden"> existing ID</span>
                  </a>
                </dd>
              </div>
            </dl>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}"/>
            <button class="govuk-button" data-module="govuk-button">Accept and send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}