{% extends "../partials/layout.njk" %}
{% set pageHeading = "All pathways overview" %}
{% from "../macros/prisoners-table.njk" import prisonersTable %}

{% block content %}
  {% if allocationSuccess %}
    <div
      id="success-alert"
      class="govuk-notification-banner govuk-notification-banner--success"
      role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner"
    >
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {%- if isUnassign -%}
            You have successfully unassigned to following people in prison:
          {%- else -%}
            You have successfully assigned to following people in prison to {{ allocatedTo }}:
          {%- endif -%}
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          {%- for case in allocatedCases -%}<li>{{ case }}</li>{%- endfor -%}
        </ul>
        {%- if allocatedOtherCount > 0 -%}
          <p>and {{ allocatedOtherCount }} others</p>
        {%- endif -%}
      </div>
    </div>
  {% elif allocationErrors.length > 0 %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for error in allocationErrors %}
              {%- if error === 'noPrisonersSelected' -%}
                <li><a href="#cases-table">Select at least one person in prison to assign/unassign</a></li>
              {%- elif error === 'noStaffSelected' -%}
                <li><a href="#workerName">Select resettlement worker to assign to, or unassign</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="govuk-tabs" id="tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="tab-links" href="/">People in prison</a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="tab-links" href="/assign-a-case">Assign a case</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="tab-links" href="/staff-capacity">Staff Capacity</a>
      </li>
    </ul>
    <div class="govuk-tabs__panel">
      <div class="filters govuk-!-margin-bottom-4" id="assignFilter">
        <form action="/assign-a-case#assignFilter" method="GET" novalidate>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" >
              <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">Filter by</h3>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="releaseTime">Time to release</label>
                  <select class="govuk-select filter-input" id="releaseTime" name="releaseTime">
                    <option value="84" {% if releaseTime == '84' %} selected {% endif %}>Within 12 weeks</option>
                    <option value="168" {% if releaseTime == '168' %} selected {% endif %}>Within 24 weeks</option>
                    <option value="0" {% if releaseTime == '0' %} selected {% endif %}>All prisoners</option>
                  </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="workerId">Assigned resettlement worker</label>
                  <select class="govuk-select filter-input" id="workerId" name="workerId">
                    <option value="">All resettlement workers</option>
                    {%- for worker in resettlementWorkers -%}
                        <option value="{{ worker.staffId }}" {% if worker.staffId == workerId %}selected{% endif %}>{{ worker.firstName }} {{ worker.lastName }}</option>
                    {% endfor %}
                    <option value="none" {% if "none" == workerId %}selected{% endif %}>Unassigned</option>
                   </select>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label " for="searchInput">Prisoner name or number</label>
                  <input class="govuk-input filter-input" id="searchInput" name="searchInput" placeholder="" type="text" value="{{ searchInput }}">
                </div>
              </div>
              <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-one-quarter">
                  <button class="govuk-button" type="submit" id="submit-filter-btn">Apply filters</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% if prisonersList and prisonersList.totalElements > 0 %}
        <form id="assign-a-case-form" class="form" action="/assign-a-case" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <table
              id="cases-table"
              class="govuk-table"
              data-module="moj-multi-select"
              data-multi-select-checkbox="#select-all"
            >
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col" id="select-all"></th>
                  <th scope="col" class="govuk-table__header" data-column="name" aria-sort="none">
                    <a aria-sort="{% if sortField == 'name' and sortDirection == 'ASC' %}ascending{% elif sortField == 'name' and sortDirection == 'DESC' %}descending{% else %}none{% endif %}" href="/assign-a-case/?sortField=name&sortDirection={{ 'DESC' if (sortField == 'name' and sortDirection == 'ASC') else 'ASC' }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}">
                      <button type="button">Name</button>
                    </a>
                  </th>
                  <th scope="col" class="govuk-table__header" data-column="release" aria-sort="none">
                    <a aria-sort="{% if sortField == 'releaseDate' and sortDirection == 'ASC' %}ascending{% elif sortField == 'releaseDate' and sortDirection == 'DESC' %}descending{% else %}none{% endif %}" href="/assign-a-case/?sortField=releaseDate&sortDirection={{ 'DESC' if (sortField == 'releaseDate' and sortDirection == 'ASC') else 'ASC' }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}">
                      <button type="button">Release date</button>
                    </a>
                  </th>
                  <th scope="col" class="govuk-table__header" data-column="status" aria-sort="none">
                    <a aria-sort="{% if sortField == 'assignedWorkerLastname' and sortDirection == 'ASC' %}ascending{% elif sortField == 'assignedWorkerLastname' and sortDirection == 'DESC' %}descending{% else %}none{% endif %}" href="/assign-a-case/?sortField=assignedWorkerLastname&sortDirection={{ 'DESC' if (sortField == 'assignedWorkerLastname' and sortDirection == 'ASC') else 'ASC' }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}">
                      <button type="button">Assigned resettlement worker</button>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for prisoner in prisonersList.content %}
                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input
                          type="checkbox"
                          class="govuk-checkboxes__input"
                          name="prisonerNumbers"
                          id="assign-checkbox-{{ prisoner.prisonerNumber }}"
                          value="{{ prisoner.prisonerNumber }}"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="assign-checkbox-{{ prisoner.prisonerNumber }}"
                        >
                          <span class="govuk-visually-hidden"
                            >Select {{ prisoner.firstName }} {{ prisoner.lastName }}</span
                          >
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <a href="/prisoner-overview?prisonerNumber={{ prisoner.prisonerNumber }}"
                        >{{ prisoner.lastName | toTitleCase }}, {{ prisoner.firstName | toTitleCase }}</a
                      >
                      <br />
                      <span class="govuk-hint" id="prisonerNumber"> {{ prisoner.prisonerNumber }} </span>
                    </td>
                    <td class="govuk-table__cell" id="releaseDate">
                      <span class="no-wrap">{{ prisoner.releaseDate | formatDate }}</span> <br />
                      {% if prisoner.releaseDate | isFriday %}
                        <span class="govuk-body-s" id="fridayRelease" aria-hidden="true">⚠️ Friday <br /></span
                        ><span class="govuk-visually-hidden"> Warning: release date is a Friday </span>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      {% if prisoner.assignedWorkerFirstname and prisoner.assignedWorkerLastname %}
                        <span class="no-wrap"
                          >{{ prisoner.assignedWorkerFirstname }} {{ prisoner.assignedWorkerLastname }}</span
                        >
                        <br />
                      {% else %}
                        – <span class="govuk-visually-hidden">No resettlement worker assigned</span>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                {% if pagination.pages %}
                  <nav class="govuk-pagination" aria-label="Pagination">
                    {% for page in pagination.pages %}
                      {% if page.pageType === "previous" %}
                        <div class="govuk-pagination__prev">
                          <a
                            class="govuk-link govuk-pagination__link"
                            href="/assign-a-case/?currentPage={{ page.pageNumber }}&sortField={{ sortField }}&sortDirection={{ sortDirection }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}"
                            rel="prev"
                          >
                            <svg
                              class="govuk-pagination__icon govuk-pagination__icon--prev"
                              xmlns="http://www.w3.org/2000/svg"
                              height="13"
                              width="15"
                              aria-hidden="true"
                              focusable="false"
                              viewBox="0 0 15 13"
                            >
                              <path
                                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
                              ></path>
                            </svg>
                            <span class="govuk-pagination__link-title">
                              Previous<span class="govuk-visually-hidden"> page</span>
                            </span>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                    <ul class="govuk-pagination__list">
                      {% for page in pagination.pages %}
                        {% if page.pageType === "ellipses" %}
                          <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
                        {% endif %}
                        {% if page.pageType === "number" %}
                          <li class="govuk-pagination__item {{ "govuk-pagination__item--current" if page.isCurrent }}">
                            <a
                              class="govuk-link govuk-pagination__link"
                              href="/assign-a-case?currentPage={{ page.pageNumber }}&sortField={{ sortField }}&sortDirection={{ sortDirection }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}"
                              aria-label="Page {{ page.pageNumber + 1 }}"
                            >
                              {{ page.pageNumber + 1 }}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% for page in pagination.pages %}
                      {% if page.pageType === "next" %}
                        <div class="govuk-pagination__next">
                          <a
                            class="govuk-link govuk-pagination__link"
                            href="/assign-a-case?currentPage={{ page.pageNumber }}&sortField={{ sortField }}&sortDirection={{ sortDirection }}&searchInput={{ searchInput }}&releaseTime={{ releaseTime }}&workerId={{ workerId }}"
                            rel="next"
                          >
                            <span class="govuk-pagination__link-title">
                              Next<span class="govuk-visually-hidden"> page</span>
                            </span>
                            <svg
                              class="govuk-pagination__icon govuk-pagination__icon--next"
                              xmlns="http://www.w3.org/2000/svg"
                              height="13"
                              width="15"
                              aria-hidden="true"
                              focusable="false"
                              viewBox="0 0 15 13"
                            >
                              <path
                                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </nav>
                {% endif %}
              </div>
              <div class="{{ "govuk-grid-column-one-third" if pagination.pages }}">
                <p class="pagination-results">
                  Showing <b>{{ pagination.startItem }}</b> to <b>{{ pagination.endItem }}</b> of
                  <b>{{ pagination.totalElements }}</b> results
                </p>
              </div>
            </div>
          
          <section id="assign-case-control">
            <h3 class="govuk-heading-m">Assign a case</h3>
            <p>
              {%- if resettlementWorkers.length > 0 -%}
                Select people in prison from the list and then choose a resettlement worker, like a PSO, to assign them
                to.
              {%- else -%}
                You cannot assign a case as no staff have been assigned to the resettlement worker role.
              {%- endif -%}
            </p>
            <p>
              Your local admin will need to assign staff to the resettlement worker role in the Manage user accounts
              service for them to appear in this list.
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="workerName">Resettlement worker</label>
                  <select class="govuk-select" id="workerName" name="staffId" required>
                    <option value="">Choose a resettlement worker</option>
                    {%- for worker in resettlementWorkers -%}
                      <option value="{{ worker.staffId }}">{{ worker.firstName }} {{ worker.lastName }}</option>
                    {% endfor %}
                    <option value="_unassign">Unassign</option>
                  </select>
                </div>
                <button class="govuk-button" data-prevent-double-click="true" type="submit">Assign</button>
              </div>
            </div>
          </section>
        </form>
      {% else %}
        <div>
          <b class="govuk-heading-m">No results found</b>
          <p class="govuk-body">Improve your results by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>checking the name you have entered is spelt correctly</li>
            <li>checking the prison number has been entered correctly</li>
            <li>removing some filters</li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
