{% extends "../partials/layout.njk" %}
{% from "../macros/assessmentInformation.njk" import assessmentInformation %}
{% set pathway = "Attitudes, thinking and behaviour" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway( pathway | getEnumByName ) %}
{% set supportNeedsEnabled = features.SUPPORT_NEEDS | getFeatureFlag %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
    {% if not supportNeedsEnabled %}
      <div class="govuk-grid-column-one-third">
        {{ statusDetails(pathwayStatus, prisonerData.personalDetails.prisonerNumber, pathway) }}
      </div>
    {% endif %}
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-4">
    <div class="govuk-grid-column-one-quarter sticky-anchor-links">
      {% if supportNeedsEnabled %}
        {% set supportNeedsItems = [
          {
            name: "Support needs",
            id: "support-needs"
          },
          {
            name: "Updates",
            id: "support-needs-updates"
          }
        ]
        %}
      {% else %}
        {% set supportNeedsItems = [] %}
      {% endif %}
      {% set subNavItems = supportNeedsItems.concat([
        {
          name: "Case notes and status history",
          id: "case-notes"
        },
        {
          name: "Report information",
          id: "assessment-information"
        }
      ]).concat(crsReferrals.results[0].referrals | createReferralsSubNav) %}
      {{ subNav(subNavItems) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% if supportNeedsEnabled %}
        {% include "../partials/supportNeedsSummary.njk" %}
        {% include "../partials/supportNeedsUpdates.njk" %}
      {% endif %}
      {% include "../partials/caseNotes.njk" %}
      {{ assessmentInformation(assessmentData, prisonerData.personalDetails.prisonerNumber, pathway) }}
      {% include "../partials/crsReferrals.njk" %}
    </div>
  </div>
{% endblock %}