{% extends "../partials/layout.njk" %}
{% set pathway = "BCST2 Form" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: phaseName
      },
      html: feedbackText
    }) }}
  </div>
{% endblock %}

{% block content %}
  <main class="govuk-!-padding-top-8" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <a class="govuk-link govuk-link--no-visited-state" href="/assessment-task-list/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Back</a>
        {% if not assessmentPage.error %}
          <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">{{ assessmentPage.title }}</h1>
        {% endif %}
      </div>
    </div>
  </main>
 
{% endblock %}