{% extends "../partials/layout.njk" %}
{% if assessmentType === "BCST2" %}
  {% set formType = "BCST2" %}
{% elif assessmentType === "RESETTLEMENT_PLAN" %}
  {% set formType = "Pre-release" %}
{% endif %}
{% set pathwayName = formType + " report form" %}
{% set pageTitle = applicationName + " - " + pathwayName %}
{% set mainClasses = "app-container govuk-body" %}
{% set enumValue = pathway | getEnumValue %}
{% set containsAssessmentSummary = false %}
{% for questionAndAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
  {% if questionAndAnswer.question === 'SUPPORT_NEEDS' or questionAndAnswer.question === 'SUPPORT_NEEDS_PRERELEASE' %}
    {% set containsAssessmentSummary = true %}
  {% endif %}
{% endfor %}
{% set prisonerNumber = prisonerData.personalDetails.prisonerNumber %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{
      govukPhaseBanner({
      tag: {
      text: phaseName
      },
      html: feedbackText
      })
    }}
  </div>
{% endblock %}

{% block content %}
  <main id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {% if submitted or backButton or not edit %}
          <button
            class="govuk-back-link assessment-back-button"
            track-event-name="ReportBackLinkClicked"
            track-event-prisoner-id="{{ prisonerData.personalDetails.prisonerNumber }}"
          >
            Back
          </button>
        {% endif %}
        <div class="govuk-!-padding-top-7">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Check your answers</h1>
          <span class="govuk-caption-l govuk-!-margin-bottom-6">
            <!-- prettier-ignore -->
            {{ prisonerData.personalDetails.lastName | toTitleCase }}, {{ prisonerData.personalDetails.firstName | toTitleCase }} ({{ prisonerData.personalDetails.prisonerNumber }})
          </span>
          <form
            action="/ImmediateNeedsReport/pathway/{{ pathway }}/complete?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}"
            method="post"
          >
            <h2 class="govuk-heading-m">{{ enumValue.name }} report information</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              {% for questionAnswer in restQuestions %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
                  <dd class="govuk-summary-list__value">
                    {% if questionAnswer.questionType === 'ADDRESS' %}
                      {% for item in questionAnswer.answer.answer %}
                        {% for key, value in item %}
                          {% if value %}
                            {{ value }}<br />
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    {% elif questionAnswer.questionType === 'CHECKBOX' %}
                      {% set freeTextAnswer = "" %}
                      {% for answer in questionAnswer.answer.answer %}
                        {% if answer | startsWith("OTHER_SUPPORT_NEEDS: ") %}
                          {% set freeTextAnswer = answer | removePrefix("OTHER_SUPPORT_NEEDS: ") %}
                        {% endif %}
                      {% endfor %}

                      {% for item in questionAnswer.answer.displayText %}
                        {{ item }}<br />
                      {% endfor %}
                      {{ freeTextAnswer }}
                    {% else %}
                      {{ questionAnswer.answer.displayText }}
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a
                      class="govuk-link govuk-link--no-visited-state"
                      href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}"
                    >
                      Change
                    </a>
                  </dd>
                </div>
              {% endfor %}
            </dl>

            {% if containsAssessmentSummary %}
              <h2 class="govuk-heading-m">{{ enumValue.name }} summary</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {% for questionAnswer in allQuestionsAndAnswers.questionsAndAnswers %}
                  {% if 'SUPPORT_NEEDS_CHECKBOXES' in questionAnswer.question %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
                      <dd class="govuk-summary-list__value">
                        {% for item in questionAnswer.answer.displayText %}
                          {{ item }}<br />
                        {% endfor %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a
                          class="govuk-link govuk-link--no-visited-state"
                          href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}"
                          >Change</a
                        >
                      </dd>
                    </div>
                  {% endif %}
                  {% if questionAnswer.question === 'SUPPORT_NEEDS' or questionAnswer.question === 'SUPPORT_NEEDS_PRERELEASE' %}
                    {% set statusValue = questionAnswer.answer.answer | getAssessmentEnumValue %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
                      <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--{{ statusValue.color }}"> {{ statusValue.name }} </strong>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a
                          class="govuk-link govuk-link--no-visited-state"
                          href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}"
                          >Change</a
                        >
                      </dd>
                    </div>
                  {% endif %}
                  {% if questionAnswer.question === 'CASE_NOTE_SUMMARY' %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ questionAnswer.questionTitle }}</dt>
                      <dd class="govuk-summary-list__value show-line-breaks">
                        {{ questionAnswer.answer.displayText }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a
                          class="govuk-link govuk-link--no-visited-state"
                          href="/ImmediateNeedsReport/pathway/{{ pathway }}/page/{{ questionAnswer.pageId }}/start-edit/?prisonerNumber={{ prisonerNumber }}&type={{ assessmentType }}&submitted={{ submitted }}"
                          >Change</a
                        >
                      </dd>
                    </div>
                  {% endif %}
                {% endfor %}
              </dl>
            {% endif %}

            <input type="hidden" name="pageTitle" value="{{ assessmentPage.title }}" />
            <input type="hidden" name="pathway" value="{{ pathway }}" />
            <input type="hidden" name="currentPageId" value="{{ assessmentPage.id }}" />
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" name="edit" value="{{ edit }}" />
            <input type="hidden" name="assessmentType" value="{{ assessmentType }}" />

            <button class="govuk-button govuk-!-margin-bottom-4 govuk-!-margin-top-8" type="submit">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/js/assessment-back-button.js"></script>
  <script src="/assets/js/disable-on-submit.js"></script>
{% endblock %}
