{% extends "../partials/layout.njk" %}
{% set pathway = "Children, families and communities" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway( pathway | getEnumByName ) %}
{% set resettlementAssessmentEnabled = features.RESETTLEMENT_ASSESSMENT | getFeatureFlag %}

{% block content %}
  {% if not resettlementAssessmentEnabled or (resettlementAssessmentEnabled and not prisonerData.assessmentRequired) %}
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
      {{ titleAndIntro(pathway) }}
      <div class="govuk-grid-column-one-third">
        {{ statusDetails(pathwayStatus, prisonerData.personalDetails.prisonerNumber, pathway, resettlementAssessmentEnabled) }}
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4">
      <div class="govuk-grid-column-one-quarter sticky-anchor-links">
        {{ subNav(crsReferrals.results[0].referrals | createReferralsSubNav) }}
      </div>
      <div class="govuk-grid-column-three-quarters">
        {% include "../partials/crsReferrals.njk" %}
      </div>
    </div>
  {% else %}
    {{ incompleteBCST2(pathway, prisonerData) }}
  {% endif %}
{% endblock %}