{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Children, families &amp; communities" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">

    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Children, families and communities</h2>

        <p class="govuk-body-l">
            Consider someone’s needs around maintaining contact with their families and communities on release.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">

        <!-- Pathway status -->

        <div>
            <form action="/beta_1-family-form-0" method="POST">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="familystatus">
                        Children, families and communities readiness status:<br><br>
                    </label>
                    <select class="govuk-select" id="familystatus" name="familyreadinessstatus"
                        onchange="this.form.submit()">
                        <option value="unbegun">Not started</option>
                        <option value="declined" selected="">Support declined</option>
                        <option value="progress">In progress</option>
                        <option value="incomplete">Incomplete</option>
                        <option value="done">Complete</option>
                        <option value="unrequired">Support not required</option>
                    </select>
                    <input type="hidden" id="updated" name="updated" value="today">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}