{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Drugs &amp; Alcohol" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">

    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Drugs and alcohol</h2>

        <p class="govuk-body-l">
            Prepare someone with substance misuse issues for release.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">

        <!-- Pathway status -->
        <form action="/beta_1-substance-form-0" method="POST">
            <div class="govuk-form-group">
                <label class="govuk-label" for="substancestatus">
                    Drugs and alcohol readiness status:<br><br>
                </label>
                <select class="govuk-select" id="substancestatus" name="substancereadinessstatus"
                    onchange="this.form.submit()">
                    <option value="unbegun">Not started</option>
                    <option value="declined">Support declined</option>
                    <option value="progress">In progress</option>
                    <option value="incomplete">Incomplete</option>
                    <option value="done">Complete</option>
                    <option value="unrequired" selected="">Support not required</option>
                </select>
                <input type="hidden" id="updated" name="updated" value="today">
            </div>
        </form>
    </div>
</div>
<div class="govuk-grid-row govuk-!-padding-top-4">
    <!-- Main content area -->
    <div class="govuk-grid-column-one-quarter">
        <!-- Pathway subnav -->
    </div>
    <div class="govuk-grid-column-three-quarters">

        <p>Information relating to this pathway is not currently available.</p>

        <p>You can still use the readiness status to track progress.</p>

    </div>
    <style>
        .govuk-width-container,
        .dps-header__container {
            max-width: 1280px !important;
        }
    </style>
</div>
{% endblock %}