{% extends "../partials/layout.njk" %}
{% set pathway = "Education, skills and work" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
    <div
      class="govuk-grid-column-one-third">
      <!-- Pathway status -->
      {{ statusDetails(pathwayStatus, prisonerData.personalDetails.prisonerNumber, pathway) }}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-4">
    <div class="govuk-grid-column-one-quarter sticky-anchor-links">
      {{ subNav([
      {
          name: "Work interests",
          id: "work-interests"
        },
        {
          name: "Things that may affect their ability to work",
          id: "affect-ability-to-work"
        },
        {
          name: "Volunteering and experience",
          id: "volunteering-and-experience"
        },
        {
          name: "Educational courses and qualifications",
          id: "educational-courses-and-qualifications"
        },
        {
          name: "Work and activities in prison",
          id: "work-and-activities-in-prison"
        },
        {
          name: "Functional skills level from induction",
          id: "functional-skills-level-from-induction"
        },
        {
          name: "Employability skills",
          id: "employability-skills"
        }
      ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% if educationSkillsWork.details.workInterests %}
        <section id="qualifications-goals" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
            Work interests<span class="govuk-caption-m">Data sourced from Access and Meganexus</span>
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            <ul class="govuk-list govuk-list--bullet">
              {% for workInterests in educationSkillsWork.details.workInterests %}
                <li>{{workInterests}}</li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endif %}
      {% if educationSkillsWork.details.reasonsToNotGetWork %}
        <section id="affect-ability-to-work" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
            Things that may affect their ability to work<span class="govuk-caption-m">Data sourced from Access and Meganexus</span>
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            <ul class="govuk-list govuk-list--bullet">
              {% for workInterests in educationSkillsWork.details.reasonsToNotGetWork %}
                <li>{{reasonsToNotGetWork}}</li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endif %}
      {% if educationSkillsWork.details.volunteeringAndExperience %}
        <section id="volunteering-and-experience" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
            Volunteering and experience<span class="govuk-caption-m">Data sourced from Access and Meganexus</span>
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            {% for volunteeringExperience in educationSkillsWork.details.volunteeringAndExperience %}
              <h3 class="govuk-heading-s">Qualification {{loop.index if loop.length > 1}}</h3>
              <table class="govuk-table">
                <tbody>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Type</th>
                    <td class="govuk-table__cell">{{ volunteeringExperience.typeOfWorkExperience }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Other work</th>
                    <td class="govuk-table__cell">{{ volunteeringExperience.otherWork }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Role</th>
                    <td class="govuk-table__cell">{{ volunteeringExperience.role }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Details</th>
                    <td class="govuk-table__cell">{{ volunteeringExperience.details }}</td>
                  </tr>
                </tbody>
              </table>
            {% endfor %}
            <h3 class="govuk-heading-s govuk-!-padding-top-8">Education goals</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Completed current training courses</li>
              <li>Be ready to apply to Open University</li>
              <li>Create my own learning plan</li>
            </ul>
          </div>
        </section>
      {% endif %}
      {% if educationSkillsWork.details.educationalCoursesAndQualifications %}
        <section id="education-and-qualifications" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
            Educational courses and qualifications<span class="govuk-caption-m">Data sourced from Access and Meganexus</span>
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            {% if educationSkillsWork.details.educationalCoursesAndQualifications.qualifications %}
              <h3 class="govuk-heading-s">Qualifications</h3>
              {% for qualification in educationSkillsWork.details.educationalCoursesAndQualifications.qualifications %}
                <table class="govuk-table">
                  <tbody>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Subject</th>
                      <td class="govuk-table__cell">{{qualification.subject}}</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Grade</th>
                      <td class="govuk-table__cell">{{qualification.grade}}</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Level</th>
                      <td class="govuk-table__cell">{{qualification.level}}</td>
                    </tr>
                  </tbody>
                </table>
              {% endfor %}
            {% endif %}
            {% if educationSkillsWork.details.educationalCoursesAndQualifications.additionalTraining %}
              <h3 class="govuk-heading-s govuk-!-margin-top-8">Additional training</h3>
              <p>{{educationSkillsWork.details.educationalCoursesAndQualifications.additionalTraining | convertArrayToCommaSeparatedList}}</p>
            {% endif %}
          </div>
        </section>
      {% endif %}
      <section id="work-and-activities-in-prison" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            Work and activities in prison<span class="govuk-caption-m">Data sourced from Access and Meganexus</span>
          </h3>
          <span class="right"></span>
        </header>
        <div class="app-summary-card__body">
          {% if educationSkillsWork.details.inPrisonWorkAndEducation.inPrisonWork %}
            <h3 class="govuk-heading-s">Work</h3>
             <p>{{educationSkillsWork.details.inPrisonWorkAndEducation.inPrisonWork | convertArrayToCommaSeparatedList}}</p>
          {% endif %}
          {% if educationSkillsWork.details.inPrisonWorkAndEducation.inPrisonEducation %}
            <h3 class="govuk-heading-s">Education</h3>
             <p>{{educationSkillsWork.details.inPrisonWorkAndEducation.inPrisonEducation | convertArrayToCommaSeparatedList}}</p>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
{% endblock %}