{% extends "../partials/layout.njk" %}
{% from "../macros/assessmentInformation.njk" import assessmentInformation %}
{% set pathway = "Education, skills and work" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set errorMessage = "Data unavailable - try again later or contact administrator if problem persists" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% set supportNeedsEnabled = features.SUPPORT_NEEDS | getFeatureFlag %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
    <div class="govuk-grid-column-one-third">
      {{ statusDetails(pathwayStatus, prisonerData.personalDetails.prisonerNumber, pathway) }}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-4">
    <div class="govuk-grid-column-one-quarter sticky-anchor-links">
      {% if supportNeedsEnabled %}
        {% set supportNeedsItems = [
          {
            name: "Support needs",
            id: "support-needs"
          },
          {
            name: "Updates",
            id: "support-needs-updates"
          }
        ]
        %}
      {% else %}
        {% set supportNeedsItems = [] %}
      {% endif %}
      {% set subNavItems = supportNeedsItems.concat([
        {
          name: "Case notes and status history",
          id: "case-notes"
        },
        {
          name: "Work status",
          id: "work-status"
        },
        {
          name: "Work interests",
          id: "work-interests"
        },
        {
          name: "Things that may affect their ability to work",
          id: "affect-ability-to-work"
        },
        {
          name: "Report information",
          id: "assessment-information"
        }
      ]).concat(crsReferrals.results[0].referrals | createReferralsSubNav) %}
      {{ subNav(subNavItems) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% if supportNeedsEnabled %}
        {% include "../partials/supportNeedsSummary.njk" %}
        {% include "../partials/supportNeedsUpdates.njk" %}
      {% endif %}
      {% include "../partials/caseNotes.njk" %}
      {% if not educationSkillsWork.error %}
        <section id="work-status" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
              Work status
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            {% if educationSkillsWork.workReadinessStatus or educationSkillsWork.workReadinessStatusLastUpdated %}
              <table class="govuk-table">
                <tbody>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Current work status</th>
                  <td class="govuk-table__cell">{{ educationSkillsWork.workReadinessStatus if educationSkillsWork.workReadinessStatus else "No status found" }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Last updated</th>
                  <td class="govuk-table__cell">{{ educationSkillsWork.workReadinessStatusLastUpdated | formatDate('long') if educationSkillsWork.workReadinessStatusLastUpdated else "No date found" }}</td>
                </tr>
                </tbody>
              </table>
            {% else %}
              <p>No current work status data found</p>
            {% endif %}
          </div>
        </section>

        <section id="work-interests" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
              Work interests
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            {% if educationSkillsWork.details.workInterests %}
              <ul class="govuk-list govuk-list--bullet">
                {% for workInterests in educationSkillsWork.details.workInterests %}
                  <li>{{ workInterests }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No work interests found</p>
            {% endif %}
          </div>
        </section>

        <section id="affect-ability-to-work" class="app-summary-card govuk-!-margin-bottom-8">
          <header class="app-summary-card__header">
            <h3 class="app-summary-card__title">
              Things that may affect their ability to work
            </h3>
            <span class="right"></span>
          </header>
          <div class="app-summary-card__body">
            {% if educationSkillsWork.details.reasonsToNotGetWork %}
              <ul class="govuk-list govuk-list--bullet">
                {% for reasonsToNotGetWork in educationSkillsWork.details.reasonsToNotGetWork %}
                  <li>{{ reasonsToNotGetWork }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No ability to work data found</p>
            {% endif %}
          </div>
        </section>
      {% else %}
        <p>{{ educationSkillsWork.error }}</p>
      {% endif %}
      {{ assessmentInformation(assessmentData, prisonerData.personalDetails.prisonerNumber, pathway) }}
      {% include "../partials/crsReferrals.njk" %}
    </div>
  </div>
{% endblock %}
