{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set pageHeading = message %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <h2>{{ status }}</h2>
  <pre>{{ stack }}</pre>
{% endblock %}
