{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set pageHeading = message %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <h2>{{ status }}</h2>
  <pre>{{ stack }}</pre>
  <p>Please try again. <a class="govuk-link" href="{{ feedbackUrl }}">Contact us</a> if the problem still occurs</p>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
