{% extends "../partials/layout.njk" %}
{% set pathway = "Finance and ID" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% set pathwayStatus = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
  </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
    <h2>Finance and ID assessment</h2>
      <form action="id-assessment-check-answers" class="govuk-form">
        <div class="govuk-form-group">
          <div class="govuk-date-input" id="date-assessment">
            <label class="govuk-label" for="type">
              <b>Date of assessment</b>
            </label>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-assessment-day">
                        Day
                    </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-assessment-day" name="date-assessment-day" type="text" inputmode="numeric" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-assessment-month">
                        Month
                    </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-assessment-month" name="date-assessment-month" type="text" inputmode="numeric" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-assessment-year">
                        Year
                    </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-assessment-year" name="date-assessment-year" type="text" inputmode="numeric" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-form-group govuk-!-padding-top-4">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <span class="govuk-fieldset__heading">Does {{ prisonerData.personalDetails.firstName | capitalize }} require a bank account application?</span>
            </legend><br>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bank-required-yes" name="bank-required" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="bank-required-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bank-required-no" name="bank-required" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="bank-required-no">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-!-padding-top-4">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <span class="govuk-fieldset__heading">Does {{ prisonerData.personalDetails.firstName | capitalize }} require an ID application?</span>
            </legend><br>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id-required-yes" name="id-required" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="id-required-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id-required-no" name="id-required" type="radio" value="no" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                        No
                    </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div id="existing-id-type" class="govuk-form-group govuk-!-padding-top-4 govuk-!-padding-bottom-4">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                    Which IDs does {{ prisonerData.personalDetails.firstName | capitalize }} currently have?
                </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
                Select all that apply.
            </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-birth-certificate" name="existing-id" type="checkbox" value="birth-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-birth-certificate">
                        Birth certificate
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-marriage-certificate" name="existing-id" type="checkbox" value="marriage-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-marriage-certificate">
                        Marriage certificate
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-civil-partnership-certificate" name="existing-id" type="checkbox" value="civil-partnership-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-civil-partnership-certificate">
                        Civil partnership certificate
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-adoption-certificate" name="existing-id" type="checkbox" value="adoption-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-adoption-certificate">
                        Adoption certificate
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-divorce-decree-absolute-certificate" name="existing-id" type="checkbox" value="divorce-decree-absolute-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-divorce-decree-absolute-certificate">
                        Divorce decree absolute certificate
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-driving-licence" name="existing-id" type="checkbox" value="driving-licence">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-driving-licence">
                        Driving licence
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-biometric-residence-permit" name="existing-id" type="checkbox" value="biometric-residence-permit">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-biometric-residence-permit">
                        Biometric residence permit
                    </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="existing-id-deed-poll-certificate" name="existing-id" type="checkbox" value="deed-poll-certificate">
                <label class="govuk-label govuk-checkboxes__label" for="existing-id-deed-poll-certificate">
                        Deed poll certificate
                    </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" type="submit">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}