{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Resettlement Passport - This site is under construction...</h1>

{% endblock %}
