{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}


{% include "../partials/sectionIntro.njk" %}
<div class="govuk-grid-row govuk-!-padding-top-4">

    <!-- Main content area -->
    <div class="govuk-grid-column-one-quarter">

        <!-- Pathway subnav -->
        
<ul class="app-subnav__section">
    <li class="app-subnav__section-item app-subnav__section-item--current">
        <ul class="app-subnav__section app-subnav__section--nested">
            <li class="app-subnav__section-item"><a href="#crs-refer">CRS referral</a> </li>
            <li class="app-subnav__section-item"><a href="#duty-to-refer">Duty to refer</a> </li>
            <li class="app-subnav__section-item"><a href="#first-night-accommodation">First night accommodation</a> </li>
        </ul>
    </li>
</ul>


    </div>
    <div class="govuk-grid-column-three-quarters">
        
<section id="crs-refer" class="app-summary-card govuk-!-margin-bottom-8">
    <header class="app-summary-card__header">
        <h3 class="app-summary-card__title">
            CRS referral<span class="govuk-caption-m">Data sourced from nDelius</span>
        </h3>
        <span class="right">

        </span>
    </header>

    <div class="app-summary-card__body">

        <h3 class="govuk-heading-m"></h3>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">CRS referral required</th>
                    <td class="govuk-table__cell">Yes</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Status</th>
                    <td class="govuk-table__cell">Completed</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Provider</th>
                    <td class="govuk-table__cell">Manchester Local Housing Organisation</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Provider address</th>
                    <td class="govuk-table__cell">123 Station Road, Manchester, M1 2AB</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Provider phone</th>
                    <td class="govuk-table__cell">0161 123 4455</td>

                </tr>
            </tbody>
        </table>
        <br>
    </div>
</section>
<section id="duty-to-refer" class="app-summary-card govuk-!-margin-bottom-8">
    <header class="app-summary-card__header">
        <h3 class="app-summary-card__title">
            Duty to refer <span class="govuk-caption-m">Data sourced from nDelius</span>
        </h3>
        <span class="right">

        </span>
    </header>

    <div class="app-summary-card__body">

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Duty to refer required</th>
                    <td class="govuk-table__cell">Yes</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Referal completed</th>
                    <td class="govuk-table__cell">Yes</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Reference number</th>
                    <td class="govuk-table__cell">XX457878</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Local authority</th>
                    <td class="govuk-table__cell">Manchester City Council</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Local authority address</th>
                    <td class="govuk-table__cell">123 Main Street
Manchester
M1 1AA</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Local authority phone</th>
                    <td class="govuk-table__cell">0161 123 4567</td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Local authority email</th>
                    <td class="govuk-table__cell">housing@manchester.gov.uk</td>

                </tr>
            </tbody>
        </table>
        <br>

    </div>
</section>
<section id="first-night-accommodation" class="app-summary-card govuk-!-margin-bottom-8">
    <header class="app-summary-card__header">
        <h3 class="app-summary-card__title">
            First night accommodation <span class="govuk-caption-m">Data sourced from nDelius</span>
        </h3>
        <span class="right">

        </span>
    </header>

    <div class="app-summary-card__body">



        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Address</th>
                    <td class="govuk-table__cell">123 Ascot Road
Manchester
M1 1AA</td>

                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Type</th>
                    <td class="govuk-table__cell">Hostel</td>

                </tr>
            </tbody>
        </table>
        <br>

    </div>
</section>

    </div>
</div>
{% endblock %}
