{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pathway = "Resettlement overview" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
  </div>
  <div
    class="govuk-grid-row govuk-!-padding-top-4">
    <!-- Main content area -->
    <div class="govuk-grid-column-one-quarter">
      {{ subNav([
        {
          name: "Licence conditions",
          id: "licence-summary"
        }
      ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <section id="licence-summary" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            Licence conditions<span class="govuk-caption-m">Data sourced from CVL</span>
          </h3>
          <span class="right"></span>
        </header>
        <div class="app-summary-card__body govuk-!-padding-top-4 govuk-!-padding-left-10">
          {% if not errorMessage %}
            {% set conditions %}
            <ol class="\"govuk-list govuk-list--number govuk-list--spaced\"">
              {% for condition in licenceConditions.standardLicenceConditions %}
                <li>{{ condition.text }}
                  {%if condition.image %}
                    <a href="/licence-image/?licenceId={{licenceConditions.licenceId}}&conditionId={{condition.id}}&prisonerNumber={{prisonerData.personalDetails.prisonerNumber}}" rel="noreferrer noopener" target="_blank">View map</a>
                    {%endif%}
                  </li>
                {% endfor %}
              </ol>
              {% endset -%}
              {{ govukDetails({
                summaryText: "Standard licence conditions",
                html: conditions
            }) }}
              {% if licenceConditions.otherLicenseConditions.length %}
                <h3 class="govuk-heading-s">Additional and bespoke licence conditions</h3>
                <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-left-6" start="{{ licenceConditions.standardLicenceConditions.length + 1 }}">
                  {% for condition in licenceConditions.otherLicenseConditions %}
                    <li>{{ condition.text }}
                      {%if condition.image %}
                        <a href="/licence-image/?licenceId={{licenceConditions.licenceId}}&conditionId={{condition.id}}&prisonerNumber={{prisonerData.personalDetails.prisonerNumber}}" rel="noreferrer noopener" target="_blank">View map</a>
                        {%endif%}
                      </li>
                    {% endfor %}
                  </ol>
                {% endif %}
              {% else %}
                <p>{{ errorMessage }}</p>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
    {% endblock %}