<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style type="text/css" nonce="{{ cspNonce }}">

      body {
        margin: 0;
        font-family: sans-serif;
        background: white;
      }
      .main-wrapper {
        min-height: 400px;
        padding-top: 0;
        margin-left: 30px;
        margin-right: 30px;
      }
      .nomargin {
        margin: 0;
      }
      .row {
        display: flex;
        clear: both;
      }
      .appointment {
        clear: both;
        padding-bottom: 15px;
      }
      .column1 {
        flex: 50%;
      }

      .column2 {
        flex: 30%;
      }

      .two-thirds {
        width: 66%;
      }
      .one-thirds {
        width: 33%;
      }

      .header__container {
        margin: 0;
        border-bottom: 5px solid #1d70b8;
        border-bottom-style: solid;
        height: 130px;
        margin-bottom: 20px;
        padding: 30px 30px 10px;
      }
      .text {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .text-l {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1.5;
      }
      .code-text {
        padding-left: 20px;
        padding-right: 20px;
      }
      .code-xl {
        font-weight: bold;
        font-size: 32pt;
        margin-top: 0;
      }
      .text-xl {
        margin-bottom: 10px;
      }
      ul.numbered-list {
        list-style-type: decimal;
      }
      .codebox {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        background-color: #f3f2f1;
        height: 250px;
        padding: 5px;
      }
      .center {
        text-align: center;
      }
      .page-end {
        height: 72px;
        display: block;
      }
      .page-number-text {
        margin-left: 30px;
      }
      .appointments-break {
        height: 160px;
        display: block;
      }
    </style>

  </head>

  <body>
    <!-- First Page -->
    {% include "../partials/printPackHeader.njk" %}

    <div class="main-wrapper">
      <div class="row">
        <div class="">
          <h2 class="text-l">
          Plan your future - online
        </h2>
          <p>Plan your future is an online service for prison leavers allowing you to view:
          </p>
          <ul>
            <li class="text">details of your appointments</li>
            <li class="text">any licence conditions you have</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="two-thirds">
          <p class="text">
            <b>Get started</b>
          </p>
          <p class="text">
            Go to: <u>www.plan-you-future.gov.uk</u></p>
          <p class="text">
        To sign in you’ll need:
      </p>
          <ul>
            <li class="text">a mobile phone to receive security codes</li>
            <li class="text">an email address</li>
            <li class="text">your login code</li>
          </ul>
        </div>
      </div>

      <div class="codebox">
        <p class="code-text">
          <b>Your login code:</b>
        </p>
        <p class="code-xl center">
          {{ otpData.otp }}
        </p>
        <p class="code-text">
           This code expires on {{otpData.expiryDate | formatDateExtended }}.
        </p>
        <p class="code-text">
          <b>Login code not working:</b>
          <br>
          If this login code has expired or is not working, your Offender Manager will be able to give you a new one. 
        </p>
      </div>

      <div class="row">
        <div class="">
          <p class="text">
            <b>Important</b>
          </p>
          <p class="text">
          Only use Plan your future online if you are allowed to use the internet.
        </p>
        </div>
      </div>

    </div>

    <div class="page-end">
      <p class="page-number-text">1 of 3</p>
    </div>

    <!-- Second Page -->
    {% include "../partials/printPackHeader.njk" %}

    <div class="main-wrapper">
      <div class="row">
        <div class="two-thirds">
          <h2 class="text-l">
            Appointments
          </h2>
          <p class="text">
            {{appointments[0].date | formatDate}} to {{appointments[appointments.length - 1].date | formatDate}}
          </p>
          <p class="text">
            Any of these appointments may have changed since this was printed. <br>
            Please check in advance that the details are still correct.
          </p>
        </div>
      </div>

      {% for appointment in appointments %}
        <!-- appointment -->
        <div class="appointment">
          <div class="one-thirds">
            <h3 class="text-xl">
              {{appointment.date | formatDateExtended}}
            </h3>
            <p class="">
              <p class="nomargin">
                <b>{{appointment.time | formatTimeWithDuration }}
                  {% if appointment.duration > 0 %}
             to {{ appointment.time | formatTimeWithDuration(appointment.duration) }}
                  {% endif %}
                </b>
              </p>
              <p class="nomargin">
                <b>{{appointment.title}}</b>
              </p>
              <p class="nomargin">
                {{ appointment.location | formatAddress | safe}}
              </p>
            Contact: {{appointment.contact}}
              {% if appointment.contactEmail %}
                (email: {{appointment.contactEmail}})
            {% endif %}
            </p>
          </div>
        </div>
        {% if loop.index == 3 %}
          <div class="appointments-break">
            <p>2 of 3</p>
          </div>
        {% endif %}
      {% endfor %}

    </div>
    <p class="page-number-text">3 of 3</p>
  </body>
</html>