<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style type="text/css" nonce="{{ cspNonce }}">

      body {
        margin: 0;
        font-family: sans-serif;
        background: white;
      }
      .main-wrapper {
        padding-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
      }
      .nomargin {
        margin: 0;
      }
      .row {
        display: flex;
        clear: both;
      }
      .appointment {
        clear: both;
        padding: 0;
        border-bottom: 2px dashed black;
        margin-bottom: 10px;
        margin-top: 0px;
      }
      .two-thirds {
        width: 66%;
      }
      .one-thirds {
        width: 33%;
      }
      .text {
        padding-top: 0px;
        padding-bottom: 5px;
      }
      .text-l {
        margin-top: 0px;
        padding-bottom: 10px;
      }
      .code-text {
        padding-left: 20px;
        padding-right: 20px;
      }
      .code-xl {
        font-weight: bold;
        font-size: 32pt;
        margin-top: 0;
      }
      .text-xl {
        margin-bottom: 10px;
      }
      ul.numbered-list {
        list-style-type: decimal;
      }
      .codebox {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 99%;
        background-color: #f3f2f1;
        padding: 5px;
      }
      .center {
        text-align: center;
      }
      .page-end {
        height: 72px;
        display: block;
      }
      .page-number-text {
        margin-left: 30px;
      }
      .appointments-break {
        height: 160px;
        display: block;
      }
    </style>

  </head>

  <body>
    <!-- First Page -->

    <div class="main-wrapper">
      <div class="row">
        <div class="">
          <h2 class="text-l">
          Plan your future - online
        </h2>
          <p>Plan your future is an online service for prison leavers allowing you to view:
          </p>
          <ul>
          {% if appointmentsEnabled %}
            <li class="text">details of your appointments</li>
          {% endif %}
            <li class="text">any licence conditions you have</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="two-thirds">
          <p class="text">
            <b>Get started</b>
          </p>
          <p class="text">
            Go to: <u>plan-your-future.service.justice.gov.uk</u>
          </p>
          <p class="text">
        To sign in you’ll need:
      </p>
          <ul>
            <li class="text">a mobile phone to receive security codes</li>
            <li class="text">an email address</li>
            <li class="text">your First-time ID code</li>
          </ul>
        </div>
      </div>

      <div class="codebox">
        <p class="code-text">
          <b>Your First-time ID code:</b>
        </p>
        <p class="code-text">
          You will only need to use this code the first time you sign in to Plan your future.
          <br>
          Don't share this code with anyone else. 
        </p>
        <p class="code-xl center">
          {{ otpData.otp }}
        </p>
        <p class="code-text">
           This code expires on {{otpData.expiryDate | formatDateExtended }}.
        </p>
        <p class="code-text">
          <b>Problems with this code?</b>
          <br>
          If this code has expired or is not working, your probation officer will be able to give you a new one. 
        </p>
      </div>

      <div class="row">
        <div>
          <p class="text">
            <b>Important</b>
          </p>
          <p class="text">
            Only use Plan your future online if you are allowed to use the internet.
          </p>
        </div>
      </div>

    </div>

    <!-- Second Page -->
    {% if appointmentsEnabled %}

    <div class="main-wrapper">
      <div class="row">
        <div class="two-thirds">
          <h2 class="text-l">
            Appointments
          </h2>

          {% if appointments.length < 1 %}
            <p class="text">
                You have no appointments at the moment. <br>
            </p>
          {% else %}
            <p class="text">
              {{appointments[0].date | formatDateExtended}} to {{appointments[appointments.length - 1].date | formatDateExtended}}
            </p>
            <p class="text">
                Any of these appointments may have changed since this was printed. <br>
                Please check in advance that the details are still correct.
              </p>
          {% endif %}

        </div>
      </div>

      {% for appointment in appointments %}
        <!-- appointment -->
        <div class="two-thirds">
          <div class="appointment">
            <h3 class="text-xl">
              {{appointment.date | formatDateExtended}}
            </h3>

            <p class="">
              <p class="nomargin">
                <b>{{appointment.time | formatTimeWithDuration }}
                  {% if appointment.duration > 0 %}
             to {{ appointment.time | formatTimeWithDuration(appointment.duration) }}
                  {% endif %}
                </b>
              </p>

              <p class="nomargin">
                <b>{{appointment.title}}</b>
              </p>
              <p class="nomargin">
                {{ appointment.location | formatAddress | safe}}
              </p>
            Contact: {{appointment.contact}}
              {% if appointment.contactEmail %}
                (email: {{appointment.contactEmail}})
            {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}

    </div>
    {% endif %}

  </body>
</html>