{% extends "../partials/layout.njk" %}

{% set pathway = "Print" %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    {{ titleAndIntro(pathway) }}
    <div class="govuk-grid-column-one-third">
    <a href="#" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Print Plan Your Future pack 
    </a>
    <a href="#"class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Generate new OTP
    </a>
    </div>
  </div>

{% endblock %}