{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set pathway = "" %}
{% set pageTitle = applicationName + " - Reset profile" %}
{% set mainClasses = "app-container govuk-body" %}
{% set supportNeedsEnabled = features.SUPPORT_NEEDS | getFeatureFlag %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: phaseName
      },
      html: feedbackText
    }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      {{ govukBackLink({
        text: "Back",
        href: "/prisoner-overview?prisonerNumber=" + prisonerData.personalDetails.prisonerNumber
      }) }}
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error,
              href: "#"
            }
          ]
        }) }}
      {% else %}
        <div class="govuk-grid-row ">
          <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-padding-top-4">Reset reports and {{ "support needs" if supportNeedsEnabled else "statuses" }}
              <br>
              <span class="govuk-caption-l">{{ prisonerData.personalDetails.lastName | toTitleCase }}, {{ prisonerData.personalDetails.firstName | toTitleCase }} ({{ prisonerData.personalDetails.prisonerNumber }})</span>
            </h1>
            <p>Resetting will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>let you complete new versions of the immediate needs and pre-release reports</li>
              {% if supportNeedsEnabled %}
                <li>Remove all current support needs</li>
              {% else %}
                <li>set all pathway resettlement statuses back to 'Not started'</li>
              {% endif %}
              <li>send a case note to DPS to explain that the reports and {{ "support needs" if supportNeedsEnabled else "statuses" }} have been reset</li>
            </ul>
            <p>All previous {{ "support need updates" if supportNeedsEnabled else "case notes" }} will still be visible.</p>
            <h2 class="govuk-heading-m">Previous reports will not be deleted</h2>
            <p>Previous versions of the reports will be saved in our archive, but will no longer be visible in PSfR.</p>
            <p>If you think you might need to see the previous report information in the future, copy and paste it into a document before you do the reset.</p>
            <div class="govuk-grid-row govuk-!-padding-top-4">
              <div class="govuk-grid-column-one-half">
                <p class="govuk-body-m">
                  <a href="/prisoner-overview?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Go back to profile</a>
                </p>
              </div>
              <div class="govuk-grid-column-one-half">
                <a href="/resetProfile/reason?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}" class="govuk-button" id="reset-profile-continue-btn">Continue</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}