{% extends "../partials/serviceUpdatesLayout.njk" %}
{% set pageName = "Service updates" %}

{% block content %}
  {% for bannerFile in banners %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">{{ bannerFile.banner.date }}</h2>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">{{ bannerFile.banner.bodyText }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for point in bannerFile.banner.bulletPoints %}
              <li>{{ point }}</li>{% endfor %}
            </ul>
            <p>
              <a href="{{ bannerFile.banner.detailsLink }}">Find out more about this update</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}