{% extends "../partials/layout.njk" %}
{% set pathway = selectedPathway | getNameFromUrl %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set statuses = [
    {
      name: "Not started",
      value: "NOT_STARTED",
      description: "need not yet assessed or work has not yet begun."
    },
    {
      name: "In progress",
      value: "IN_PROGRESS",
      description: "a need was identified in this area and work has started."
    },
    {
      name: "Support not required",
      value: "SUPPORT_NOT_REQUIRED",
      description: "no need was identified."
    },
    {
      name: "Support declined",
      value: "SUPPORT_DECLINED",
      description: "a need was identified but support was declined."
    },
    {
      name: "Done",
      value: "DONE",
      description: "following identification of a need, all required work has been attempted, regardless of whether it could be completed and what the final outcome was."
    }
  ]
%}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
      {{ titleAndIntro(
        pathway, 'THIS SHOULD BE DYNAMIC'
      ) }}
      <div class="govuk-grid-column-three-quarters"></div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ subNav([
        {
          name: "Accommodation resettlement status",
          id: "status"
        },
        {
          name: " Accommodation case notes",
          id: "notes"
        }
      ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <section id="status" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            {{ pathway }} resettlement status
            <span class="govuk-caption-m">Update the status and/or add a note about progress</span>
          </h3>
        </header>
        <div class="app-summary-card__body govuk-!-padding-top-4">
          <form method="POST" action="#">
            <div class="govuk-form-group">
              <div class="govuk-radios" data-module="govuk-radios">
                {% for statusItem in statuses %}
                  {% set currentPathway = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
                  {% set isChecked = currentPathway.status == statusItem.value %}
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      name="state"
                      type="radio"
                      id="{{ statusItem.value }}"
                      value="{{ statusItem.value }}"
                      {% if isChecked %}checked{% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="{{ statusItem.value }}">
                      {{ statusItem.name }}
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      {{ statusItem.description }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <button class="govuk-button" type="submit">Update</button>
          </form>
        </div>
      </section>
    </div>
  </div>
{% endblock %}