{% extends "../partials/layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set pathway = selectedPathway | getNameFromUrl %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set statuses = ["NOT_STARTED", "IN_PROGRESS", "SUPPORT_NOT_REQUIRED", "SUPPORT_DECLINED", "DONE"] %}
{% set errorMessage = "Data unavailable - try again later or contact administrator if problem persists" %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
      {{ titleAndIntro(pathway) }}
      <div class="govuk-grid-column-three-quarters"></div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ subNav([
        {
          name: "Accommodation resettlement status",
          id: "status"
        },
        {
          name: " Accommodation case notes",
          id: "notes"
        }
      ]) }}
      <p class="govuk-body-s govuk-!-padding-bottom-4">
        <a href="/{{ selectedPathway }}/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Back to {{ pathway }}</a>
      </p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <section id="status" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            {{ pathway }} resettlement status
            <span class="govuk-caption-m">Update the status and/or add a note about progress</span>
          </h3>
        </header>
        <div class="app-summary-card__body govuk-!-padding-top-4">
          <form method="GET" action="/status-update/{{ selectedPathway }}/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">
            <div class="govuk-form-group">
              <div class="govuk-radios" data-module="govuk-radios">
                {% for statusItem in statuses %}
                  {% set statusInfo = statusItem | getEnumValue %}
                  {% set currentPathway = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
                  {% set isChecked = false %}
                  {% if updateSuccessful %}
                    {% if state == statusItem %}
                      {% set isChecked = true %}
                    {% endif %}
                  {% else %}
                    {% if currentPathway.status == statusItem %}
                      {% set isChecked = true %}
                    {% endif %}
                  {% endif %}
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      name="state"
                      type="radio"
                      id="{{ statusItem }}"
                      value="{{ statusItem }}"
                      {% if isChecked %}checked{% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="{{ statusItem }}">
                      {{ statusInfo.name }}
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      {{ statusInfo.description }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
            <button class="govuk-button" type="submit">Update</button>
            {% set successNotificationHtml %}
              <h3 class="govuk-notification-banner__heading">
                Pathway status updated successfully
              </h3>
              <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="mailto:example@digital.justice.gov.uk">example@digital.justice.gov.uk</a> if you think there’s a problem.</p>
            {% endset %}
            {% if updateSuccessful  %}
              {{ govukNotificationBanner({
                html: successNotificationHtml,
                type: 'success'
              }) }}
            {% endif %}
          </form>
        </div>
      </section>
      <section id="notes" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">{{ pathway }} case notes</h3>
        </header>
        <div class="app-summary-card__body govuk-!-padding-top-4" style="padding-left: 30px;">
          <p>Filters here</p>
            {% if not caseNotes.error %}

            <div class="govuk-grid-row govuk-!-padding-top-8">
              <div class="govuk-grid-column-full" id="case-notes-container">
                <hr>
                  {% for notes in caseNotes.content %}
                    {% set currentPathway = notes.pathway | getEnumValue %}
                    <div class="case-note">
                      <h3>{{ currentPathway.name }}</h3>
                      <p>{{ notes.text }}</p>
                      <span class="govuk-caption-m">Happened: {{ notes.occurenceDateTime | formatDate}}</span>
                      <span class="govuk-caption-m">Created: {{ notes.creationDateTime | formatDate }} by {{notes.createdBy}}</span>
                      <br>
                    </div>
                    <hr>
                  {% endfor %}
              </div>
            </div>
            {% else %}
            <p>{{ errorMessage }}</p>
            {% endif%}
      </section>
    </div>
  </div>
{% endblock %}