{% extends "../partials/layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../macros/pagination.njk" import pagination %}
{% set pathway = selectedPathway | getNameFromUrl %}
{% set pageTitle = applicationName + " - " + pathway %}
{% set errorMessage = "Data unavailable - try again later or contact administrator if problem persists" %}
{% set resettlementAssessmentEnabled = features.RESETTLEMENT_ASSESSMENT | getFeatureFlag %}
{% if resettlementAssessmentEnabled %}
  {% set statuses = ["NOT_STARTED", "SUPPORT_REQUIRED", "IN_PROGRESS", "SUPPORT_NOT_REQUIRED", "SUPPORT_DECLINED", "DONE"] %}
{% else %}
  {% set statuses = ["NOT_STARTED", "IN_PROGRESS", "SUPPORT_NOT_REQUIRED", "SUPPORT_DECLINED", "DONE"] %}
{% endif %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
      {{ titleAndIntro(pathway) }}
      <div class="govuk-grid-column-three-quarters"></div>
    </div>
    <div class="govuk-grid-column-one-quarter sticky-anchor-links">
      {{ subNav([
        {
          name: pathway + " resettlement status",
          id: "status"
        },
        {
          name: pathway + " case notes",
          id: "case-notes"
        }
      ]) }}
      <p class="govuk-body-s govuk-!-padding-bottom-4">
        <a href="/{{ selectedPathway }}/?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Back to {{ pathway }}</a>
      </p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <section id="status" class="app-summary-card govuk-!-margin-bottom-8">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            {{ pathway }} resettlement status
            <span class="govuk-caption-m">Update the status and/or add a note about progress</span>
          </h3>
        </header>
        <div class="app-summary-card__body govuk-!-padding-top-4">
          {% set actionURL = "/status-update#content" %}
          <form method="POST" action="{{actionURL}}" novalidate>
            <div class="govuk-form-group">
              <div class="govuk-radios" data-module="govuk-radios">
                {% for statusItem in statuses %}
                  {% set statusInfo = statusItem | getEnumValue(resettlementAssessmentEnabled) %}
                  {% set currentPathway = prisonerData.pathways | filterByPathway(pathway | getEnumByName) %}
                  {% set isChecked = false %}
                  {% if serverUpdate === 'success' %}
                    {% if state == statusItem %}
                      {% set isChecked = true %}
                    {% endif %}
                  {% else %}
                    {% if currentPathway.status == statusItem %}
                      {% set isChecked = true %}
                    {% endif %}
                  {% endif %}
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      name="state"
                      type="radio"
                      id="{{ statusItem }}"
                      value="{{ statusItem }}"
                      data-aria-controls="caseNote_{{statusItem}}"
                      {% if isChecked %}checked{% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="{{ statusItem }}">
                      {{ statusInfo.name }}
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      {{ statusInfo.description }}
                    </div>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="caseNote_{{statusItem}}">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="caseNoteInput">Add a case note</label>
                      <textarea class="govuk-textarea" id="caseNoteInput" name="caseNoteInput_{{ statusItem }}" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <input type="hidden" name="selectedPathway" value="{{ selectedPathway }}">
            <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <button class="govuk-button" type="submit">Update</button>
            {% set errorNotificationHtml %}
              <h3 class="govuk-notification-banner__heading">
                Unable to update - try again later or contact administrator if problem persists.
              </h3>
            {% endset %}
            {% set deliusUserErrorHtml %}
              <h3 class="govuk-notification-banner__heading">
                Delius users are currently unable to access the case notes feature. If this feature would be useful for you, use the <a class="govuk-link" href="{{ feedbackUrl }}" rel="noreferrer noopener" target="_blank">feedback form</a> to let us know.
              </h3>
            {% endset %}
            {% if serverUpdate === 'error' or serverUpdate === 'deliusUserError' %}
              <div id='content'></div>
            {% endif %}
            {% if serverUpdate === 'error' %}
              {{ govukNotificationBanner({
                html: errorNotificationHtml,
                type: "error",
                titleId: "caseNotesUpdateError"
              }) }}
            {% endif %}
            {% if serverUpdate === 'deliusUserError' %}
              {{ govukNotificationBanner({
                html: deliusUserErrorHtml,
                type: "error"
              }) }}
            {% endif %}
          </form>
        </div>
      </section>
      <section id="case-notes" class="app-summary-card govuk-!-margin-bottom-8">
        {% if serverUpdate === 'success' %}
          <div id='content'></div>
        {% endif %}
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">{{ pathway }} case notes</h3>
        </header>

        <div class="app-summary-card__body govuk-!-padding-top-4" style="padding-left: 30px;">
          <div class="govuk-grid-row">
            <form action="/status-update#case-notes" method="GET" novalidate>
              <div class="govuk-grid-column-full">
                <label class="govuk-label" for="pathway-select">Created by</label>
                <select name="createdByUserId" class="govuk-select" id="pathway-select">
                  <option value="0">Select an option</option>
                  {% for creator in caseNoteCreators %}
                    {% set isSelectedUser = createdByUserId == creator.userId %}
                    <option {% if isSelectedUser %}selected{% endif %} value="{{ creator.userId }}">{{ creator.createdBy }}</option>
                  {% endfor %}
                </select>
                <input type="hidden" name="selectedPathway" value="{{ selectedPathway }}">
                <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
              </div>
              <div class="govuk-grid-column-full">
                <button class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-4" type="submit">Apply filters</button>
              </div>
            </form>
          </div>
          {% if not caseNotes.error %}
            <div class="govuk-grid-row govuk-!-padding-top-8">
              <div class="govuk-grid-column-full" id="case-notes-container">
                <hr>
                {% for notes in caseNotes.content %}
                  {% set currentPathway = notes.pathway | getEnumValue %}
                  <div class="case-note">
                    <h3>{{ currentPathway.name }}</h3>
                    <p>{{ notes.text | formatCaseNoteText | safe }}</p>
                    <span class="govuk-caption-m">Happened: {{ notes.occurenceDateTime | formatDate('long') }}</span>
                    <span class="govuk-caption-m">Created: {{ notes.creationDateTime | formatDate('long')  }} by {{notes.createdBy}}</span>
                    <br>
                  </div>
                  <hr>
                  {% else %}
                    <p>No case notes found</p>
                {% endfor %}
                {% set totalPages = (caseNotes.totalElements / size) | roundNumberUp %}
                {% set nextPage = page | float + 1 | float%}
                {% set prevPage = page | float - 1 | float%}
                {% set currentUrl = "/status-update/?createdByUserId=" + createdByUserId + "&prisonerNumber=" + prisonerData.personalDetails.prisonerNumber %}
                {% if caseNotes.totalElements != 0 %}
                  {{ pagination(page, size, totalPages, caseNotes.last, currentUrl, caseNotes.totalElements, sort, days, selectedPathway) }}
                {% endif %}
              </div>
            </div>
            {% else %}
            <p>{{ errorMessage }}</p>
          {% endif%}
        </div>
      </section>
    </div>
  </div>
{% endblock %}