{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/statusDetailsReadOnlyMessaging.njk" import statusDetailsReadOnlyMessaging %}
{% extends "../partials/layout.njk" %}
{% set pageTitle = applicationName + " - " + pathway | getNameFromUrl + " support needs" %}
{% set mainClasses = "app-container govuk-body" %}
{% set prisonerNumber = prisonerData.personalDetails.prisonerNumber %}
{% set readOnlyMode = features.READ_ONLY_MODE | getFeatureFlag %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
      text: phaseName
      },
      html: feedbackText
      }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-8">
    <div class="govuk-grid-column-three-quarters">
      {% if errors | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <a href="{{ backLink }}" class="govuk-back-link">Back</a>
          <h1 class="govuk-heading-l">Add {{ pathway | getNameFromUrl | lower }} support needs</h1>
          <span class="govuk-hint">Select any support needs you have identified that could be met by the prison resettlement team, community probation staff or by referral to a third party provider.</span>
        </div>
      </div>

      <details class="govuk-details govuk-!-margin-top-5">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Support needs already selected for this pathway
          </span>
        </summary>
        <div class="govuk-details__text">
          {% if pathwaySupportNeeds.prisonerNeeds | length > 0 %}
            <table class="govuk-table govuk-!-margin-bottom-4">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Support need</th>
                <th scope="col" class="govuk-table__header">Responsible staff</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Number of updates</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              {% for supportNeed in pathwaySupportNeeds.prisonerNeeds %}
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header">
                    {{ supportNeed.title }}
                  </td>
                  <td class="govuk-table__cell">
                    {% if supportNeed.isPrisonResponsible %}
                      <strong class="govuk-tag govuk-tag--blue">Prison</strong>
                      <br />
                    {% endif %}
                    {% if supportNeed.isProbationResponsible %}
                      <strong class="govuk-tag govuk-tag--blue">Community</strong>
                      <br />
                    {% endif %}
                    {% if not supportNeed.isPrisonResponsible and not supportNeed.isProbationResponsible and supportNeed.numberOfUpdates === 0 %}
                      <strong class="govuk-tag govuk-tag--grey">Not set</strong>
                      <br />
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">
                    {% if not supportNeed.status and supportNeed.numberOfUpdates === 0 %}
                      <span class="govuk-tag govuk-tag--grey">Not set {{ statusDetailsReadOnlyMessaging(readOnlyMode) }}</span>
                    {% else %}
                      {% set tagColour = "govuk-tag--" + (supportNeed.status | getSupportNeedsColour) %}
                      <span class="govuk-tag {{ tagColour }}">{{ supportNeed.status | getSupportNeedsStatus }} {{ statusDetailsReadOnlyMessaging(readOnlyMode) }}</span>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{ supportNeed.numberOfUpdates }}</td>
                  <td class="govuk-table__cell">{{ supportNeed.lastUpdated | formatDate }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p class="govuk-body">No support needs selected</p>
          {% endif %}
        </div>
      </details>
      <div id="support-needs-form">
        <form action="/support-needs/{{ pathway }}" class="govuk-form" method="POST">
          {% for item in supportNeeds %}
            <div class="govuk-form-group {% if item.error %}govuk-form-group--error{% endif %}" id="{{ item.id }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">{{ item.category }}</h2>
                </legend>
                {% if item.error %}
                  <p id="{{ item.id }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ item.error }}
                  </p>
                {% endif %}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  {% for supportNeed in item.supportNeeds %}
                    {% if supportNeed.allowUserDesc %}
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="other-checkbox-{{ supportNeed.uuid }}"
                          name="{{ SUPPORT_NEED_OPTION_PREFIX }}{{ supportNeed.category }}"
                          type="checkbox"
                          value="{{ supportNeed.uuid }}"
                          {% if supportNeed.isSelected %}checked{% endif %}
                          data-aria-controls="conditional-other-{{ supportNeed.uuid }}"
                        >
                        <label class="govuk-label govuk-checkboxes__label" for="other-checkbox-{{ supportNeed.uuid }}" >{{ supportNeed.title }}</label>
                      </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-{{ supportNeed.uuid }}">
                        <div class="govuk-form-group govuk-character-count {% if supportNeed.error %}govuk-form-group--error{% endif %}" id="other-{{ supportNeed.uuid }}" data-module="govuk-character-count" data-maxlength="100">
                          <label class="govuk-label" for="{{ CUSTOM_OTHER_PREFIX }}{{ supportNeed.uuid }}">Enter support need</label>
                          {% if supportNeed.error %}
                            <p id="{{ supportNeed.uuid }}-error" class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span> {{ supportNeed.error }}
                            </p>
                          {% endif %}
                          <input class="govuk-input govuk-js-character-count" id="{{ supportNeed.uuid }}" name="{{ CUSTOM_OTHER_PREFIX }}{{ supportNeed.uuid }}" type="text" value="{{ supportNeed.otherSupportNeedText }}">
                          <div id="{{ supportNeed.uuid }}-info" class="govuk-hint govuk-character-count__message">
                            You can enter up to 100 characters
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="{{ supportNeed.uuid }}" name="{{ SUPPORT_NEED_OPTION_PREFIX }}{{ supportNeed.category }}" type="checkbox" value="{{ supportNeed.uuid }}" {% if supportNeed.isSelected %}checked{% endif %}>
                        <label class="govuk-label govuk-checkboxes__label" for="{{ supportNeed.uuid }}">{{ supportNeed.title }}</label>
                      </div>
                    {% endif %}
                  {% endfor %}
                  {% if item.exclusiveOption %}
                    <div class="govuk-checkboxes__divider">or</div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="{{ item.exclusiveOption.uuid }}" name="{{ SUPPORT_NEED_OPTION_PREFIX }}{{ item.exclusiveOption.category }}" type="checkbox" value="{{ item.exclusiveOption.uuid }}" data-behaviour="exclusive" {% if item.exclusiveOption.isSelected or (item.exclusiveOption.isSelected is null and item.exclusiveOption.isPreSelected)  %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="{{ item.exclusiveOption.uuid }}">{{ item.exclusiveOption.title }}</label>
                    </div>
                  {% endif %}
                </div>
              </fieldset>
            </div>
          {% endfor %}
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          <input type="hidden" name="prisonerNumber" value="{{ prisonerNumber }}"/>
          <button class="govuk-button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}