{% extends "../partials/layout.njk" %}
{% set pageTitle = applicationName + " - " + pathway | getNameFromUrl + " support needs status" %}
{% set mainClasses = "app-container govuk-body" %}
{% set prisonerNumber = prisonerData.personalDetails.prisonerNumber %}
{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
      text: phaseName
      },
      html: feedbackText
      }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-l">{{ pathway | getNameFromUrl }} support need</span>
      {% if supportNeed.otherSupportNeedText %}
        <h1 class="govuk-heading-l">{{ supportNeed.otherSupportNeedText }}</h1>
      {% else %}
        <h1 class="govuk-heading-l">{{ supportNeed.title }}</h1>
      {% endif %}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <form action="/support-needs/{{ pathway }}/status/{{ supportNeed.uuid }}" class="govuk-form" method="POST">
        <div class="govuk-form-group">
          <div class="govuk-form-group" id="status">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-top-6">
                <h2 class="govuk-fieldset__heading">Update status</h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="statusNotStarted" name="status" value="NOT_STARTED" {% if supportNeed.status === 'NOT_STARTED' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="statusNotStarted">Support not started</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="statusInProgress" name="status" value="IN_PROGRESS" {% if supportNeed.status === 'IN_PROGRESS' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="statusInProgress">Support in progress</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="statusMet" name="status" value="MET" {% if supportNeed.status === 'MET' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="statusMet">Support need met</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="statusDeclined" name="status" value="DECLINED" {% if supportNeed.status === 'DECLINED' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="statusDeclined">Support declined</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group" id="responsibleStaff">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">Who is responsible for this support need?</h2>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="prisonResettlementTeam" name="responsibleStaff" type="checkbox" value="PRISON" {% if supportNeed.isPrisonResponsible %}checked{% endif %} />
                  <label class="govuk-label govuk-checkboxes__label" for="prisonResettlementTeam">
                    Prison resettlement team
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="communityProbationStaff" name="responsibleStaff" type="checkbox" value="PROBATION" {% if supportNeed.isProbationResponsible %}checked{% endif %} />
                  <label class="govuk-label govuk-checkboxes__label" for="communityProbationStaff">
                    Community probation staff
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group govuk-!-padding-top-8">
            <label class="govuk-label govuk-heading-m" for="additionalDetails">
              Additional details (optional)
            </label>
            <textarea class="govuk-textarea" id="additionalDetails" name="updateText" rows="5">{{ supportNeed.updateText }}</textarea>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonerNumber" value="{{ prisonerNumber }}"/>
        <input type="hidden" name="edit" value="{{ edit }}">
        <button class="govuk-button" type="submit">Continue</button>
      </form>
      <button class="ghost-button remove-support-need-button">Remove support need</button>
      <div class="confirm-remove-support-need" hidden>
        <div class="govuk-button-group">
          <form action="/support-needs/{{ pathway }}/status/{{ supportNeed.uuid }}/delete" method="post" novalidate>
            <button class="govuk-button govuk-button--warning" type="submit" data-prevent-double-click="true">Confirm remove support need</button>
            <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
            <input type="hidden" name="edit" value="{{ edit }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          </form>
          <button class="ghost-button cancel-remove-support-need-button" hidden>Cancel remove support need</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/js/support-needs.js"></script>
{% endblock %}
