{% extends "../partials/layout.njk" %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitle = applicationName + " - " + pathway | getNameFromUrl + " support needs status" %}
{% set mainClasses = "app-container govuk-body" %}
{% set prisonerNumber = prisonerData.personalDetails.prisonerNumber %}
{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
      text: phaseName
      },
      html: feedbackText
      }) }}
  </div>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      <a href="{{ backLink }}" class="govuk-back-link">Back</a>

      {% include "partials/errorSummary.njk" %}

      <span class="govuk-caption-l">{{ pathway | getNameFromUrl }} support need</span>
      {% if supportNeed.otherSupportNeedText %}
        <h1 class="govuk-heading-l">{{ supportNeed.otherSupportNeedText }}</h1>
      {% else %}
        <h1 class="govuk-heading-l">{{ supportNeed.title }}</h1>
      {% endif %}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <form action="/support-needs/{{ pathway }}/status/{{ supportNeed.uuid }}" class="govuk-form" method="POST">
        <div class="govuk-form-group">
          {{ govukRadios({
            name: "status",
            fieldset: {
              legend: {
                text: "Update status",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "NOT_STARTED",
                text: "Support not started"
              },
              {
                value: "IN_PROGRESS",
                text: "Support in progress"
              },
              {
                value: "MET",
                text: "Support need met"
              },
              {
                value: "DECLINED",
                text: "Support declined"
              }
            ],
            value: status,
            errorMessage: errors | findError('status')
          }) }}

          {{ govukCheckboxes({
            name: "responsibleStaff",
            fieldset: {
              legend: {
                text: "Who is responsible for this support need?"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "PRISON",
                text: "Prison resettlement team"
              },
              {
                value: "PROBATION",
                text: "Community probation staff"
              }
            ],
            values: responsibleStaff,
            errorMessage: errors | findError('responsibleStaff')
          }) }}

          {{ govukCharacterCount({
            name: "updateText",
            id: "updateText",
            maxlength: 3000,
            label: {
              text: "Additional details (optional)",
              classes: "govuk-heading-m",
              isPageHeading: false
            },
            value: updateText,
            errorMessage: errors | findError('updateText')
          }) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonerNumber" value="{{ prisonerNumber }}"/>
        <input type="hidden" name="edit" value="{{ edit }}">
        <button class="govuk-button" type="submit">Continue</button>
      </form>
      <button class="ghost-button remove-support-need-button">Remove support need</button>
      <div class="confirm-remove-support-need" hidden>
        <div class="govuk-button-group">
          <form action="/support-needs/{{ pathway }}/status/{{ supportNeed.uuid }}/delete" method="post" novalidate>
            <button class="govuk-button govuk-button--warning" type="submit" data-prevent-double-click="true">Confirm remove support need</button>
            <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}">
            <input type="hidden" name="edit" value="{{ edit }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          </form>
          <button class="ghost-button cancel-remove-support-need-button" hidden>Cancel remove support need</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/js/support-needs.js"></script>
{% endblock %}
