{% extends "../partials/layout.njk" %}
{% from "../macros/breadCrumb.njk" import breadCrumb %}
{% set pageTitle = applicationName + " - update support need"%}
{% set mainClasses = "app-container govuk-body" %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: phaseName
      },
      html: feedbackText
    }) }}
    {% if isPrisonUser %}
      {% set topLevelBreadcrumb = 'Digital Prison Services' %}
    {% else %}
      {% set topLevelBreadcrumb = 'HMPPS Digital Services' %}
    {% endif %}
    {% if prisonerData %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        },
        {
          text: "Prepare someone for release",
          href: '/'
        },
        {
          text: ' ' ~ prisonerData.personalDetails.lastName ~ ', ' ~ prisonerData.personalDetails.firstName ~ ' (' ~ prisonerData.personalDetails.prisonerNumber ~ ')',
          href: '/prisoner-overview/?prisonerNumber=' ~ prisonerData.personalDetails.prisonerNumber
        }
      ] %}
    {% else %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        }
      ] %}
    {% endif %}

    {{ breadCrumb(breadcrumbItems) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      {% include "partials/errorSummary.njk" %}

      <span class="govuk-caption-l">{{ pathway }} support needs</span>
      <h1 class="govuk-heading-l">
        {{ existingPrisonerNeed.title }}
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See previous updates
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-weight-regular">
              <span class="govuk-visually-hidden">Warning</span>
              Some updates may not be linked to this support need as they were created before support needs were added to PSfR.
              Check the {{ pathway }} tab for updates from before {{ releaseDate | formatDate('long') }}.
            </strong>
          </div>
          {% for update in existingPrisonerNeed.previousUpdates %}
            <h3>{{ update.createdAt | formatDate('long') }}</h3>
            <div>
              {% if update.status %}
                <p class="govuk-body">
                  <strong>Status set to: </strong>
                  {% set tagColour = "govuk-tag--" + (update.status | getSupportNeedsColour) %}
                  <span class="govuk-tag {{ tagColour }}">{{ update.status | getSupportNeedsStatus }}</span>
                </p>
              {% endif %}
              {% if update.isPrisonResponsible or update.isProbationResponsible %}
                <p class="govuk-body">
                  <strong>Responsible staff set to: </strong>
                  {% if update.isPrisonResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Prison resettlement team</strong>
                  {% endif %}
                  {% if update.isProbationResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Community probation staff</strong>
                  {% endif %}
                </p>
              {% endif %}
              <p class="govuk-body show-line-breaks">{{ update.text }}</p>
              <p class="govuk-caption-m">Updated by {{ update.createdBy }}</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
          {% endfor %}
        </div>
      </details>

      <form action="/support-needs/{{ pathway | getUrlFromName }}/update/{{ prisonerNeedId }}" method="post">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Update status</h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="updateStatusNotStarted" name="updateStatus" value="NOT_STARTED" {% if existingPrisonerNeed.status === 'NOT_STARTED' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="updateStatusNotStarted">Support not started</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="updateStatusInProgress" name="updateStatus" value="IN_PROGRESS" {% if existingPrisonerNeed.status === 'IN_PROGRESS' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="updateStatusInProgress">Support in progress</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="updateStatusMet" name="updateStatus" value="MET" {% if existingPrisonerNeed.status === 'MET' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="updateStatusMet">Support need met</label>
                </div>
                <div class="govuk-radios__item">
                  <input type="radio" class="govuk-radios__input" id="updateStatusDeclined" name="updateStatus" value="DECLINED" {% if existingPrisonerNeed.status === 'DECLINED' %}checked{% endif %} />
                  <label class="govuk-label govuk-radios__label" for="updateStatusDeclined">Support declined</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">Who is responsible for this support need?</h2>
                <p class="govuk-caption-m">Select all that apply</p>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="prisonResettlementTeam" name="responsibleStaff" type="checkbox" value="PRISON" {% if existingPrisonerNeed.isPrisonResponsible %}checked{% endif %} />
                  <label class="govuk-label govuk-checkboxes__label" for="prisonResettlementTeam">
                    Prison resettlement team
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="communityProbationStaff" name="responsibleStaff" type="checkbox" value="PROBATION" {% if existingPrisonerNeed.isProbationResponsible %}checked{% endif %} />
                  <label class="govuk-label govuk-checkboxes__label" for="communityProbationStaff">
                    Community probation staff
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group govuk-!-padding-top-8">
            <label class="govuk-label govuk-heading-m" for="additionalDetails">
              Additional details (optional)
            </label>
            <textarea class="govuk-textarea" id="additionalDetails" name="additionalDetails" rows="5"></textarea>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}" />
        <button class="govuk-button" type="submit">Update support need</button>
      </form>
      <p class="govuk-body-s govuk-!-padding-bottom-4 govuk-!-padding-top-8">
        <a href="/{{ pathway | getUrlFromName }}?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Back to {{ pathway }}</a>
      </p>
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
