{% extends "../partials/layout.njk" %}
{% from "../macros/breadCrumb.njk" import breadCrumb %}
{% from "../macros/statusDetailsReadOnlyMessaging.njk" import statusDetailsReadOnlyMessaging %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set mainClasses = "app-container govuk-body" %}
{% set readOnlyMode = features.READ_ONLY_MODE | getFeatureFlag %}

{% set suffix = 'support need updates' if readOnlyMode else 'update support need' %}
{% set pageTitle = applicationName + ' - ' + suffix %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "../partials/header.njk" %}
  {% endif %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: phaseName
      },
      html: feedbackText
    }) }}
    {% if isPrisonUser %}
      {% set topLevelBreadcrumb = 'Digital Prison Services' %}
    {% else %}
      {% set topLevelBreadcrumb = 'HMPPS Digital Services' %}
    {% endif %}
    {% if prisonerData %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        },
        {
          text: "Prepare someone for release",
          href: '/'
        },
        {
          text: ' ' ~ prisonerData.personalDetails.lastName ~ ', ' ~ prisonerData.personalDetails.firstName ~ ' (' ~ prisonerData.personalDetails.prisonerNumber ~ ')',
          href: '/prisoner-overview/?prisonerNumber=' ~ prisonerData.personalDetails.prisonerNumber
        }
      ] %}
    {% else %}
      {% set breadcrumbItems = [
        {
          text: topLevelBreadcrumb,
          href: dpsUrl
        }
      ] %}
    {% endif %}

    {{ breadCrumb(breadcrumbItems) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      {% include "partials/errorSummary.njk" %}

      <span class="govuk-caption-l">{{ pathway }} support needs</span>
      <h1 class="govuk-heading-l">
        {{ existingPrisonerNeed.title }}
      </h1>

      {% if readOnlyMode %}
      <h3 class="govuk-heading-m">Previous updates</h3>
      {% else %}
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See previous updates
          </span>
        </summary>
      {% endif %}
        <div class="{% if not readOnlyMode %} govuk-details__text {% else %} govuk-details {% endif %}">
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-weight-regular">
              <span class="govuk-visually-hidden">Warning</span>
              Some updates may not be linked to this support need as they were created before support needs were added to PSfR.
              Check the {{ pathway }} tab for updates from before {{ releaseDate | formatDate('long') }}.
            </strong>
          </div>
          {% for update in existingPrisonerNeed.previousUpdates %}
            <h3>{{ update.createdAt | formatDate('long') }}</h3>
            <div>
              {% if update.status %}
                <p class="govuk-body">
                  <strong>Status set to: </strong>
                  {% set tagColour = "govuk-tag--" + (update.status | getSupportNeedsColour) %}
                  <span class="govuk-tag {{ tagColour }}">{{ update.status | getSupportNeedsStatus }} {{ statusDetailsReadOnlyMessaging(readOnlyMode) }}</span>
                </p>
              {% endif %}
              {% if update.isPrisonResponsible or update.isProbationResponsible %}
                <p class="govuk-body">
                  <strong>Responsible staff set to: </strong>
                  {% if update.isPrisonResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Prison resettlement team</strong>
                  {% endif %}
                  {% if update.isProbationResponsible %}
                    <strong class="govuk-tag govuk-tag--blue">Community probation staff</strong>
                  {% endif %}
                </p>
              {% endif %}
              <p class="govuk-body show-line-breaks">{{ update.text }}</p>
              <p class="govuk-caption-m">Updated by {{ update.createdBy }}</p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>
          {% endfor %}
        </div>
      {% if not readOnlyMode %}
      </details>
      <form action="/support-needs/{{ pathway | getUrlFromName }}/update/{{ prisonerNeedId }}" method="post">
        <div class="govuk-form-group">

          {{ govukRadios({
            name: "updateStatus",
            fieldset: {
              legend: {
                text: "Update status",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "NOT_STARTED",
                text: "Support not started"
              },
              {
                value: "IN_PROGRESS",
                text: "Support in progress"
              },
              {
                value: "MET",
                text: "Support need met"
              },
              {
                value: "DECLINED",
                text: "Support declined"
              }
            ],
            value: updateStatus,
            errorMessage: errors | findError('updateStatus')
          }) }}

          {{ govukCheckboxes({
            name: "responsibleStaff",
            fieldset: {
              legend: {
                text: "Who is responsible for this support need?"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "PRISON",
                text: "Prison resettlement team"
              },
              {
                value: "PROBATION",
                text: "Community probation staff"
              }
            ],
            values: responsibleStaff,
            errorMessage: errors | findError('responsibleStaff')
          }) }}

          {{ govukCharacterCount({
            name: "additionalDetails",
            id: "additionalDetails",
            maxlength: 3000,
            label: {
              text: "Additional details (optional)",
              classes: "govuk-heading-m",
              isPageHeading: false
            },
            value: additionalDetails,
            errorMessage: errors | findError('additionalDetails')
          }) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="prisonerNumber" value="{{ prisonerData.personalDetails.prisonerNumber }}" />
        <button class="govuk-button" type="submit">Update support need</button>
      </form>
      {% endif %}
      <p class="govuk-body-s govuk-!-padding-bottom-4 govuk-!-padding-top-8">
        <a href="/{{ pathway | getUrlFromName }}?prisonerNumber={{ prisonerData.personalDetails.prisonerNumber }}">Back to {{ pathway }}</a>
      </p>
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
