{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% set mainClasses = "app-container govuk-body" %}
{% set prisonerNumber = prisonerData.personalDetails.prisonerNumber %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Upload a document</h1>
      <p>You can upload original documents or scans.</p>
      <p>
        Any documents uploaded will be available to {{ prisonerData | fullName }} in the Plan your future service after
        leaving prison.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/document/{{ prisonerNumber }}?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
        <div class="govuk-form-group">
          <label class="govuk-label" for="category"> Category</label>
          <select class="govuk-select" id="category" name="category">
            <option value="licence-conditions" selected>Licence conditions</option>
          </select>
        </div>

        {{
          govukFileUpload({
          id: "file",
          name: "file",
          label: {
          text: "Upload a file"
          },
          errorMessage: errorMessage
          })
        }}
        {{
          govukButton({
          text: "Continue",
          preventDoubleClick: true,
          attributes: {
          "data-cy": "submit"
          }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
