name: Build and test node
on:
  workflow_call:
    inputs:
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"
permissions:
  contents: read
jobs:
  end-to-end-test:
    runs-on: [self-hosted, Linux, X64, hmpps-github-actions-runner]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ inputs.node_version_file }}
        uses: actions/setup-node@v4
        with:
          node-version-file: ${{ inputs.node_version_file }}
      - name: Install Playwright
        run: |
          npm run setup -g playwright@1.54.1 && npx playwright install
      - name: restore cache
        id: restore-cache
        uses: actions/cache/restore@v4
        env:
          cache-name: node-modules
        with:
          path: |
            ./node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: download the artifacts
        uses: actions/download-artifact@v4
        with:
          name: npm_build_artifacts
      - name: Install project dependencies
        run: npm run setup
      - name: Run cucumber tests
        shell: bash
        run: |
          export BASEURL=${{ secrets.DEV_BASEURL }}
          export USERNAME=${{ secrets.E2E_DEV_USERNAME }}
          export PASSWORD=${{ secrets. E2E_DEV_PASSWORD }}
          export BROWSER=${{ secrets.E2E_DEV_BROWSER }}
          playwright install chromium
          npm run end-to-end-test
      - name: upload the artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: npm_e2e_test_artifacts
          path: test-results
      - name: publish test report
        if: ${{ !cancelled() && github.event.repository.visibility == 'public' }}
        uses: dorny/test-reporter@v2
        with:
          artifact: npm_e2e_test_artifacts
          name: Test Report
          path: 'jest/**/*.xml'
          reporter: java-junit
          fail-on-empty: false
          fail-on-error: false
          list-suites: 'failed'
          list-tests: 'failed'
